
   {% if exception is defined %}
   <div class="alert alert-danger alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <span class="glyphicon glyphicon-exclamation-sign"></span> {{ exception }}</div>
   {% endif %}

   <div id="data_form" class="row">

{{ form_start(form, {'action': path('editar_inscripcion', {'sidCom': sidCom, 'atl': idAtl})}) }}

    {{ form_errors(form) }}
    
    <div class="subform panel panel-default">
       <div class="panel-heading">Lista de inscripciones</div>
       <div class="panel-body">
          <table class="table-responsive table-condensed">
             <tbody id="form-collection">
                <tr><th>Prueba</th><th style="max-width: 10em">Precio</th><th>Estado</th></tr>
                {% for ins in form.inscripciones %}
                <tr class="subform-row">
                   <td>{{ ins.vars.value.sidPru.sidTprm.sidTprf.nombre }}{% if ins.vars.value.sidPru.sidTprm.sexo == 0 %}, masculino{% elseif ins.vars.value.sidPru.sidTprm.sexo == 1 %}, femenino{% endif %}{% if entornos|length > 1 %}. {{ ins.vars.value.sidPru.sidTprm.entorno }}{% endif %}</td>
                   <td style="max-width: 10em">{{ form_widget(ins.coste) }}{{ form_errors(ins.coste) }}</td>
                   <td>{{ form_widget(ins.estado) }}{{ form_errors(ins.estado) }}</td>
                </tr>
                {% endfor %}
             </tbody>
          </table>
       </div>
    </div>
    
    {{ form_rest(form) }}
 
{{ form_end(form) }}
   </div>

   