
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}Atletas inscritos{% endblock %}

{% block navbar %}
      <li><a href="{{ path('listado_atletas') }}">Atletas</a></li>
      <li class="active"><a href="{{ path('listado_competiciones') }}">Competiciones</a></li>
      <li><a class="inactive">Records</a></li>
      <li><a class="inactive">Informes</a></li>
      <li><a href="{{ path('configuracion') }}">Configuración</a></li>
{% endblock %}

{% block breadcrumb %}
  <li><a href="{{ path('homepage') }}">Portada Admin</a></li>
  <li><a href="{{ path('listado_competiciones') }}">Competiciones</a></li>
  <li><a href="{{ path('ver_competicion', {'id': com.sid}) }}">{{ com.nombre }} ({{ com.temp }}/{{ (com.temp + 1)|slice(2, 2) }})</a></li>
  <li class="active">Inscripciones</li>
{% endblock %}

   {% block modallabel %}<div id="dialog-label"></div>{% endblock %}
   {% block modalbody %}<div id="dialog-body"></div>{% endblock %}
   {% block modalprimary %}<span id="dialog-btn"></span>{% endblock %}

{% block container %}   
   <h1 id="container_title" class="row page-header">Atletas inscritos <small>{{ com.nombre }} ({{ com.temp }}/{{ (com.temp + 1)|slice(2, 2) }})</small></h1>
   <div id="container_header" class="row">
      <a type="button" class="btn btn-m btn-default hidden-xs" href="javascript:history.back()"><span class="glyphicon glyphicon-menu-left"></span> Volver</a>
      <button class="updater hidden" onClick="location.reload()"></button>
      <a class="btn btn-primary" href="{{ path('inscribir_atletas', {'sidCom': com.sid}) }}"><span class="glyphicon glyphicon-plus"></span> Inscribir<span class="hidden-xs"> atleta(s)</span></a>
   </div>
   <table id="primary_table" class="table table-hover table-bordered table-condensed table-responsive">
      <tbody>
         <tr>
            {% if com.esFeder == true %}
            <th><abbr title="Licencia FGA" class="visible-xs">L. FGA</abbr><div class="hidden-xs">Licencia FGA</div></th>
            {% else %}
            <th class="hidden-xs">Id</th>
            {% endif %}
            <th>Apellidos</th>
            <th>Nombre</th>
            <th><abbr title="Categoría" class="visible-xs">Cat.</abbr><div class="hidden-xs">Categoría</div></th>
            <th><abbr title="Pruebas" class="visible-xs">Pru.</abbr><div class="hidden-xs">Pruebas</div></th>
            <th class="hidden-xs">Precio total</th>
            <th>Estado</th>
            <th class="hidden-xs">Dorsal</th>
            <th class="hidden-xs">Asistencia</th>
            <th><abbr title="Acciones" class="visible-xs">Acc.</abbr><div class="hidden-xs">Acciones</div></th>
         </tr>
         {% for atl in atletas %}
         <tr>
            {% if com.esFeder != true %}
            <td class="hidden-xs">{{ atl.id }}</td>
            {% else %}
            <td><small>{{ atl.lfga }}</small></td>
            {% endif %}
            <td>{{ atl.apellidos }}</td>
            <td>{{ atl.nombre }}</td>
            <td>{{ atl.categoria }}</td>
            <td>{{ atl.pruebas|length }} <button type="button" class="btn btn-xs btn-default pull-right" data-toggle="tooltip" data-placement="top" title="Mostrar pruebas inscritas" onClick="toggleDropListTable({{ atl.id }}, $(this))"><span class="glyphicon glyphicon-collapse-down"></span></button></td>
            <td class="hidden-xs">{{ atl.costetotal|number_format(2, ',', '.') }}€</td>
            <td>{{ atl.estado }}</td>
            <td class="hidden-xs{% if atl.sidPar is not defined %} text-muted{% endif %}">{{ atl.dorsal }}</td>
            <td class="hidden-xs"><input id="asistCB-{{ atl.id }}" type="checkbox" onClick="toggleAsist(this, {% if atl.sidPar is defined %}{{ atl.sidPar }}{% else %}null{% endif %})"{% if atl.sidPar is not defined %} disabled{% endif %}{% if atl.asistencia == true %} checked{% endif %}></td>
            <td>
               <div class="btn-group visible-xs-block">
                  <button type="button" class="btn btn-xs btn-block btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-horizontal" aria-label="Acciones"></span></button>
                  <ul class="dropdown-menu pull-right">
                     {% if atl.sidPar is defined %}<li><a id="asistLI-{{ atl.id }}" href="#" onClick="toggleAsist(this, {{ atl.sidPar }})">{% if atl.asistencia == true %}<span class="glyphicon glyphicon-check"></span> Asistencia [SI]{% else %}<span class="glyphicon glyphicon-unchecked"></span> Asistencia [NO]{% endif %}</a></li>{% endif %}
                     <li><a href="#" onClick="showModal('newPAR', {{ atl.id }}, null, null)"><span class="glyphicon glyphicon-bullhorn"></span> {% if atl.sidPar is not defined %}Confirmar participación{% else %}Cambiar dorsal{% endif %}</a></li>
                     <li><a href="#" onClick="showModal()"><span class="glyphicon glyphicon-edit"></span> Editar</a></li>
                     <li><a class="bg-danger" href="#" onClick="showModal()"><div class="text-danger"><span class="glyphicon glyphicon-remove-circle"></span> Desinscribir</div></a></li>
                  </ul>
               </div>
               <div class="hidden-xs">
                  <button type="button" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="{% if atl.sidPar is not defined %}Confirmar participación{% else %}Cambiar dorsal{% endif %}" onClick="showModal('newPAR', {{ atl.id }}, null, null)"><span class="glyphicon glyphicon-bullhorn"></span></button>
                  <button disabled type="button" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="Editar" onClick="showModal()"><span class="glyphicon glyphicon-edit"></span></button>
                  <button disabled type="button" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Desinscribir" onClick="showModal()"><span class="glyphicon glyphicon-remove-circle"></span></button>
               </div>
            </td>
         </tr>
         <tr><td colspan="10" style="padding: 0px">
            <div id="droplist-{{ atl.id }}" class="droplist">
               <table class="table table-responsive table-hover table-bordered">
                  <tbody>
                     <tr>
                        <th>Prueba</th>
                        <th class="hidden-xs">Fecha de inscripción</th>
                        <th class="hidden-xs">Inscrito por</th>
                        <th class="hidden-xs">Código de grupo</th>
                        <th class="hidden-xs">Precio</th>
                        <th>Estado</th>
                        <th class="hidden-xs">Registros</th>
                        <th>Registrar marca</th>
                     </tr>
                     {% for ins in atl.pruebas %}
                        <tr>
                           <td><span class="glyphicon glyphicon-chevron-right"></span> {{ ins.nombre }}. {% if ins.sexo == 0 %}Masculino, {% elseif ins.sexo == 1 %}Femenino, {% endif%}{{ ins.entorno }}</td>
                           <td class="hidden-xs">{{ ins.fecha|date('d/m/Y') }}</td>
                           <td class="hidden-xs">{{ ins.origen }}</td>
                           <td class="hidden-xs">{{ ins.codGrupo }}</td>
                           <td class="hidden-xs">{{ ins.coste }}€</td>
                           <td>{{ ins.estado }}</td>
                           <td class="hidden-xs">0</td>
                           <td><button disabled type="button" class="btn btn-xs btn-block btn-default" onClick="showModal()"><span class="glyphicon glyphicon-dashboard" aria-label="Registrar marcas"></span></button></td>
                        </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
         </td></tr>
         {% endfor %}
      </tbody>
   </table>
   
{% endblock %}

{% block js %}
   <script src="{{ asset('bundles/atletismo/js/modals.js') }}"></script>
   <script src="{{ asset('bundles/atletismo/js/scripts.js') }}"></script>
{% endblock %}



