      <div class="row" style="margin-bottom: 1em">
         <div class="col-xs-6 col-sm-6">
            <select class="form-control" onChange="insAtlSearch(this.value, {% if query is defined %}'{{query}}'{% else %}null{% endif %}, null)">
               <option value="" {% if cat is not defined %}selected{% endif %}>Todas las categorías</option>
               {% for row in vigentes %}
               <option value="{{ row.id }}" {% if cat is defined %}{% if cat == row.id %}selected{% endif %}{% endif %}>{{ row.nombre }}{% if row.edadMax is not null %} ({{ row.edadMax }}){% endif %}</option>
               {% endfor %}
            </select>
         </div>
         <div class="input-group col-xs-6 col-sm-4">
            <input id="search-input" type="search" class="form-control" placeholder="Buscar"{% if query is defined %} value="{{query}}"{% endif %}) onkeydown="checkEnterKeypress(event)">
            <div class="input-group-btn"><button id="search-button" class="btn btn-default" type="button" onClick="insAtlSearch({% if cat is defined %}{{cat}}{% else %}null{% endif %}, getQuery(), null)"><span class="glyphicon glyphicon-search"></span></button></div>
         </div>
      </div>
      
      <table id="primary_table" class="table table-hover table-bordered table-condensed table-striped table-responsive">
      <tbody>
         <tr>
            <th class="hidden-xs">Id</th>
            <th class="visible-xs">Licencias</th>
            <th class="hidden-xs"><abbr title="Licencia FGA" class="visible-xs-block">L. FGA</abbr><div class="hidden-xs">Licencia FGA</div></th>
            <th class="hidden-xs"><abbr title="Licencia XOGADE" class="visible-xs-block">L. XOGADE</abbr><div class="hidden-xs">Licencia XOGADE</div></th>
            <th{% if cat is defined %} class="hidden-xs"{% endif %}><abbr title="Categoría" class="visible-xs-block">Categ.</abbr><div class="hidden-xs">Categoría</div></th>
            <th>Apellidos</th>
            <th>Nombre</th>
            <th class="hidden-xs"><abbr title="Sexo">H/M</abbr></th>
            <th class="hidden-xs"><abbr title="Fecha de nacimiento" class="visible-xs-block">F. nac.</abbr><div class="hidden-xs">Fecha de nacimiento</div></th>
            <th>Nick</th>
            <th><abbr title="Seleccionar" class="visible-xs-block">Selec.</abbr><div class="hidden-xs">Seleccionar</div></th>
         </tr>
         {% set catIndex = 0 %}
         {% for atl in atletas %}
            <tr>
               <td class="hidden-xs">{{ atl.id }}</td>
               <td class="visible-xs">
                  <small>{% if atl.lfga is null or atl.lfga == "" %}<em class="text-muted">---</em>{% else %}{{ atl.lfga }}{% endif %}</small><br>
                  <small>{% if atl.lxogade is null or atl.lxogade == "" %}<em class="text-muted">---</em>{% else %}{{ atl.lxogade }}{% endif %}</small>
               </td>
               <td class="hidden-xs">{% if atl.lfga is null or atl.lfga == "" %} <em class="text-muted">--</em> {% else %} {{ atl.lfga }} {% endif %} </td>
               <td class="hidden-xs">{% if atl.lxogade is null or atl.lxogade == "" %} <em class="text-muted">--</em> {% else %} {{ atl.lxogade }} {% endif %} </td>
               <td{% if cat is defined %} class="hidden-xs"{% endif %}>{% if categorias[catIndex] is not null %}{{ categorias[catIndex].nombre }}{% endif %}</td>
               <td>{{ atl.apellidos }}</td>
               <td>{{ atl.nombre }}</td>
               <td class="hidden-xs">{% if atl.sexo == false %}<abbr title="Hombre">H</abbr>{% elseif atl.sexo == true %}<abbr title="Mujer">M</abbr>{% endif %}</td>
               <td class="hidden-xs">{{ atl.fnac|date('d/m/Y') }}</td>
               <td>{% if atl.nick is null or atl.nick == "" %} <em class="text-muted">--</em> {% else %} {{ atl.nick }} {% endif %} </td>
               <td>
                  {% if atl.yainscrito is defined and atl.yainscrito == true %}
                     <em class="text-info">Ya inscrito</em>
                  {% elseif com.esFeder == false or (com.esFeder == true and (atl.lfga is not null and atl.lfga != "")) %}
                  <button id="sel-atl-{{ atl.id }}" 
                     data-nombre="{{ atl.apellidos }}, {{ atl.nombre }}"
                     data-catnombre="{% if categorias[catIndex] is not null %}{{ categorias[catIndex].nombre }}{% endif %}"
                     data-toggle="button" class="btn btn-xs btn-block btn-default sel-btn" onClick="toggleCheckButton(this, {% if com.esCuota %}'{{ sidCuota }}'{% else %}null{% endif %})"><span class="glyphicon glyphicon-unchecked"></span> NO
                  </button>
                  {% else %}
                     <em class="text-danger">Sin licencia FGA</em>
                  {% endif %}
               </td>
            </tr>
         {% set catIndex = catIndex + 1 %}
         {% endfor %}
      </tbody>
   </table>
   
<nav>
  <ul class="pager">
     {% if from == 0 %}
     <li class="previous disabled"><span>Inicio</span></li>
     <li class="previous disabled"><span><span aria-hidden="true">&larr;</span> Anterior</span></li>
     {% else %}
     <li class="previous"><span class="clickable text-info" onClick="insAtlSearch({% if cat is defined %}{{cat}}{% else %}null{% endif %}, {% if query is defined %}'{{query}}'{% else %}null{% endif %}, 0)">Inicio</span></li>
     <li class="previous"><span class="clickable text-info" onClick="insAtlSearch({% if cat is defined %}{{cat}}{% else %}null{% endif %}, {% if query is defined %}'{{query}}'{% else %}null{% endif %}, {{ from - numResultados }})"><span aria-hidden="true">&larr;</span> Anterior</span></li>
     {% endif %}
     {% if atletas|length < numResultados %}
        <li class="next disabled"><span>Siguiente <span aria-hidden="true">&rarr;</span></a></li>
     {% else %}
        <li class="next"><span class="clickable text-info" onClick="insAtlSearch({% if cat is defined %}{{cat}}{% else %}null{% endif %}, {% if query is defined %}'{{query}}'{% else %}null{% endif %}, {{ from + numResultados }})">Siguiente <span aria-hidden="true">&rarr;</span></span></li>
     {% endif %}
     {% if numResultados > 0 and from is divisible by (numResultados) %}
     <p class="text-center text-info">Página {{ (from / numResultados) + 1 }}</p>
     {% else %}
     <p class="text-center text-info">Mostrando desde el resultado {{ from + 1 }}</p>
     {% endif %}
  </ul>
</nav>
      