      <div class="row">
         <div class="col-xs-6 col-sm-4">
            <select class="form-control" onChange="atlSearch('{{ path('inscribir_atletas_atletas', {'sidCom': sidCom}) }}', this.value, {% if query is defined %}'{{query}}'{% else %}null{% endif %})">
               <option value="" {% if cat is not defined %}selected{% endif %}>Todas las categorías</option>
               {% for row in vigentes %}
               <option value="{{ row.id }}" {% if cat is defined %}{% if cat == row.id %}selected{% endif %}{% endif %}>{{ row.nombre }}{% if row.edadMax is not null %} ({{ row.edadMax }}){% endif %}</option>
               {% endfor %}
            </select>
         </div>
         <div class="input-group col-xs-6 col-sm-4">
            <input id="search-input" type="search" class="form-control" placeholder="Buscar"{% if query is defined %} value="{{query}}"{% endif %}) onkeydown="checkEnterKeypress(event)">
            <div class="input-group-btn"><button id="search-button" class="btn btn-default" type="button" onClick="atlSearch('{{ path('inscribir_atletas_atletas', {'sidCom': sidCom}) }}', {% if cat is defined %}{{cat}}{% else %}null{% endif %}, getQuery())"><span class="glyphicon glyphicon-search"></span></button></div>
         </div>
      </div>