
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}
   {% if mode == "new" %}Añadir competición
   {% elseif mode == "edit" %}Editar competición
   {% endif %}
{% endblock %}

{% block navbar %}
{% if mode == "new" %}
      <li><a class="inactive">Atletas</a></li>
      <li class="active"><a href="../../competiciones">Competiciones</a></li>
      <li><a class="inactive">Records</a></li>
      <li><a class="inactive">Noticias</a></li>
      <li><a class="inactive">Informes</a></li>
      <li><a href="../../configuracion/">Configuración</a></li>
{% elseif mode == "edit" %}
      <li><a class="inactive">Atletas</a></li>
      <li class="active"><a href="../../../competiciones">Competiciones</a></li>
      <li><a class="inactive">Records</a></li>
      <li><a class="inactive">Noticias</a></li>
      <li><a class="inactive">Informes</a></li>
      <li><a href="../../../configuracion/">Configuración</a></li>
{% endif %}
{% endblock %}

{% block breadcrumb %}
  {% if mode == "new" %}
  <li><a href="../../">Portada Admin</a></li>
  <li><a href="../../competiciones">Competiciones</a></li>
  <li class="active">Añadir competición</li>
  {% elseif mode == "edit" %}
  <li><a href="../../../">Portada Admin</a></li>
  <li><a href="../../../competiciones">Competiciones</a></li>
  <li class="active">Editar competición</li>
  {% endif %}
{% endblock %}

{% block container %}
   {% if mode == "new" %}
   <h1 id="container_title" class="row page-header">Añadir competición</h1>
   {% elseif mode == "edit" %}
    <h1 id="container_title" class="row page-header">Editar competición <small>{{ nombre }} ({{ temp }} / {{ temp + 1}})</small></h1>
   {% endif %}
   
   {% if exception is defined %}
   <div class="alert alert-danger alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <strong>Error: </strong><span>{{ exception }}</span></div>
   {% endif %}
   
   <div id="data_form" class="row">

{#{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }#}

{{ form_start(form) }}
    {{ form_errors(form) }}
    <div class=row">
       <div class="form_row col-xs-8">
          {{ form_row(form.nombre) }}
       </div>
       <div class="form_row col-xs-4">
          {{ form_row(form.temp) }}
       </div>
    </div>
    <div class=row">
       <div class="form_row col-xs-12 col-sm-4">
          {{ form_row(form.ubicacion) }}
       </div>
       <div class="form_row col-xs-6 col-sm-4">
          {{ form_row(form.sede) }}
       </div>
       <div class="form_row col-xs-6 col-sm-4">
          {{ form_row(form.fecha) }}
       </div>
    </div>
    <div class=row">
       <div class="form_row col-xs-12">
          {{ form_row(form.desc) }}
       </div>
    </div>
    <div class=row">
       <div class="form_row col-xs-6 col-md-2">
          {{ form_row(form.nivel) }}
       </div>
       <div class="form_row col-xs-6 col-md-2">
          {{ form_row(form.feder) }}
       </div>
       <div class="form_row col-xs-6 col-md-4">
          {{ form_row(form.web) }}
       </div>
       <div class="form_row col-xs-6 col-md-4">
          {{ form_row(form.email) }}
       </div>
    </div>
    <div class="row">
       <div class="form_row col-xs-12 col-sm-6">
          {{ form_errors(form.cartelFile) }}
          {{ form_widget(form.cartelFile) }}
       </div>
       <div class="col-xs-12 col-sm-6">
          <div class="row">
             <div class="form_row col-xs-6">
                {{ form_row(form.esfeder) }}
             </div>
             <div class="form_row col-xs-6">
                {{ form_row(form.esoficial) }}
             </div>
          </div>
          <div class="row">
              {% if mode == "new" %}
              <a type="button" class="btn btn-m btn-default col-xs-3" href="../../competiciones"><span class="glyphicon glyphicon-menu-left"></span> Cancelar</a>
              <button type="submit" class="btn btn-m btn-primary col-xs-offset-1 col-xs-8"><span class="glyphicon glyphicon-save"></span> Crear</button>
              {% elseif mode == "edit" %}
              <a type="button" class="btn btn-m btn-default col-xs-3" href="../../../competiciones"><span class="glyphicon glyphicon-menu-left"></span> Cancelar</a>
              <button type="submit" class="btn btn-m btn-primary col-xs-offset-1 col-xs-8"><span class="glyphicon glyphicon-save"></span> Guardar</button>
              {% endif %}
          </div>
       </div>
    </div>

    {{ form_rest(form) }}
 
{{ form_end(form) }}
   </div>
   
{% endblock %}

{% block js %}
   <script type="text/javascript">
      $(document).ready(function(){
    	    $("#com_esfeder").click(function(){
     	       cb = document.getElementById('com_esoficial');
        	    if ($('#com_esfeder').is(':checked') == true){
        	       cb.checked = true;
        	       cb.disabled = true;
             } else {
                cb.disabled = false;
             }
    	    });
      });
   </script>

{% endblock %}



