
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}
   {% if mode == "new" %}Añadir competición
   {% elseif mode == "edit" %}Editar competición
   {% endif %}
{% endblock %}

{% block css %}
    {{ parent() }}
   <style> .vich-image img {max-width: 200px} </style>
{% endblock %}

{% block navbar %}
      {% if app.user.idAtl is not null %}<li><a href="{{ path('mis_competiciones') }}">Mis competiciones</a></li>{% endif %}
      <li><a href="{{ path('listado_atletas') }}">Atletas</a></li>
      <li class="active"><a href="{{ path('listado_competiciones') }}">Competiciones</a></li>
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Records <span class="caret"></span></a>
         <ul class="dropdown-menu">
            {% if app.user.idAtl is not null %}<li><a href="{{ path('users_pantalla_records_propios') }}">Mis records</a></li>{% endif %}
            <li><a href="{{ path('pantalla_records_masc') }}">Records masculinos</a></li>
            <li><a href="{{ path('pantalla_records_fem') }}">Records femeninos</a></li>
         </ul>
      </li>
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informes <span class="caret"></span></a>
         <ul class="dropdown-menu">
            <li><a href="{{ path('pantalla_resultados') }}">Resultados</a></li>
            <li><a href="{{ path('pantalla_asistencia') }}">Asistencia a eventos</a></li>
            <li><a href="{{ path('pagos_pendientes') }}">Pagos pendientes</a></li>
            <li><a href="{{ path('ingresos') }}">Ingresos</a></li>
         </ul>
      </li>
      <li><a href="{{ path('configuracion') }}">Configuración</a></li>
{% endblock %}

{% block breadcrumb %}
  <li><a href="{{ path('homepage_admin') }}">Portada Admin</a></li>
  <li><a href="{{ path('listado_competiciones') }}">Competiciones</a></li>
  {% if mode == "new" %}
  <li class="active">Añadir competición</li>
  {% elseif mode == "edit" %}
  <li class="active">Editar competición</li>
  {% endif %}
{% endblock %}

{% block container %}
   {% if mode == "new" %}
   <h1 id="container_title" class="row page-header">Añadir competición</h1>
   {% elseif mode == "edit" %}
    <h1 id="container_title" class="row page-header">Editar competición <small>{{ nombre }} ({{ temp }}/{{ (temp + 1)|slice(2, 2)}})</small></h1>
   {% endif %}
   
   {% if exception is defined %}
   <div class="alert alert-danger alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <strong>Error: </strong><span>{{ exception }}</span></div>
   {% endif %}
   
   <div id="data_form" class="row">

{#{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }#}

{{ form_start(form) }}
    {{ form_errors(form) }}
    <div class=row">
       <div class="form_row col-xs-8">
          {{ form_row(form.nombre) }}
       </div>
       <div class="form_row col-xs-4">
          {{ form_row(form.temp) }}
       </div>
    </div>
    <div class=row">
       <div class="form_row col-xs-12 col-sm-4">
          {{ form_row(form.ubicacion) }}
       </div>
       <div class="form_row col-xs-6 col-sm-4">
          {{ form_row(form.sede) }}
       </div>
       <div class="form_row col-xs-6 col-sm-4">
          {{ form_row(form.fecha) }}
       </div>
    </div>
    <div class=row">
       <div class="form_row col-xs-12">
          {{ form_row(form.desc) }}
       </div>
    </div>
    <div class=row">
       <div class="form_row col-xs-6 col-md-2">
          {{ form_row(form.nivel) }}
       </div>
       <div class="form_row col-xs-6 col-md-2">
          {{ form_row(form.feder) }}
       </div>
       <div class="form_row col-xs-6 col-md-4">
          {{ form_row(form.web) }}
       </div>
       <div class="form_row col-xs-6 col-md-4">
          {{ form_row(form.email) }}
       </div>
    </div>
    <div class="row">
       <div class="form_row col-xs-12 col-sm-6">
          {{ form_errors(form.cartelFile) }}
          {{ form_widget(form.cartelFile) }}
       </div>
       <div class="col-xs-12 col-sm-6">
          <div class="row">
             <div class="form_row col-xs-6">
                {{ form_row(form.esfeder) }}
             </div>
             <div class="form_row col-xs-6">
                {{ form_row(form.esoficial) }}
             </div>
          </div>
          <div class="row">
             <div class="form_row col-xs-6">
                {{ form_row(form.esvisible) }}
             </div>
             <div class="form_row col-xs-6">
                {% if mode == "edit" and form.vars.value.esoficial == true %}
                {{ form_row(form.esinscrib, { 'attr':{'disabled':'disabled'} }) }}
                {% else %}
                {{ form_row(form.esinscrib) }}
                {% endif %}
             </div>
          </div>
          <div class="row">
              {% if mode == "new" %}
              <a type="button" class="btn btn-m btn-default col-xs-3" href={{ path('listado_competiciones') }}><span class="glyphicon glyphicon-menu-left"></span> Cancelar</a>
              <button type="submit" class="btn btn-m btn-primary col-xs-offset-1 col-xs-8"><span class="glyphicon glyphicon-save"></span> Crear</button>
              {% elseif mode == "edit" %}
              <a type="button" class="btn btn-m btn-default col-xs-3" href="{{ path('listado_competiciones') }}"><span class="glyphicon glyphicon-menu-left"></span> Cancelar</a>
              <button type="submit" class="btn btn-m btn-primary col-xs-offset-1 col-xs-8"><span class="glyphicon glyphicon-save"></span> Guardar</button>
              {% endif %}
          </div>
       </div>
    </div>

    {{ form_rest(form) }}
 
{{ form_end(form) }}
   </div>
   
{% endblock %}

{% block js %}
   <script type="text/javascript">
      $(document).ready(function(){
    	    $("#com_esfeder").click(function(){
     	       cb = document.getElementById('com_esoficial');
     	       cb2 = document.getElementById('com_esinscrib');
     	       if ($(this).is(':checked') == true){
        	       cb.checked = true;
        	       cb.disabled = true;
        	       cb2.checked = false;
        	       cb2.disabled = true;
             } else {
                cb.disabled = false;
                if ($(cb2).is(':checked') == true){
                   cb2.disabled = false;
                }
             }
    	    });
    	    $("#com_esoficial").click(function(){
      	     cb = document.getElementById('com_esinscrib');
         	  if ($(this).is(':checked') == true){
         	     cb.checked = false;
         	     cb.disabled = true;
              } else {
                 cb.disabled = false;
              }
     	    });
      });
   </script>

{% endblock %}



