
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}Añadir competición{% endblock %}

{% block navbar %}
      <li><a class="inactive">Atletas</a></li>
      <li class="active"><a href="../">Competiciones</a></li>
      <li><a class="inactive">Records</a></li>
      <li><a class="inactive">Noticias</a></li>
      <li><a class="inactive">Informes</a></li>
      <li><a href="../../configuracion/">Configuración</a></li>
   </ul>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="../../">Portada Admin</a></li>
  <li><a href="../">Competiciones</a></li>
  <li class="active">Añadir competición</li>
</ol>
{% endblock %}

{% block container %}
{# Mostrar contenido de una variable {{ dump() }} #}
   <h1 id="container_title" class="row page-header">Añadir competición</h1>
   
   <div id="data_form" class="row">

{#{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}#}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}
 
    {{ form_row(form.nombre) }}
    {{ form_row(form.temp) }}
    {{ form_row(form.ubicacion) }}
    {{ form_row(form.sede) }}
    {{ form_row(form.fecha) }}
    {{ form_row(form.desc) }}
    {{ form_row(form.nivel) }}
    {{ form_row(form.feder) }}
    {{ form_row(form.web) }}
    {{ form_row(form.email) }}
    {{ form_row(form.cartel) }}
    {{ form_row(form.esfeder) }}
    {{ form_row(form.esoficial) }}
    
    {{ form_rest(form) }}
 
    <input type="submit" />
{{ form_end(form) }}
   </div>
   
{% endblock %}

{% block js %}

{% endblock %}



