
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}Lista de competiciones{% endblock %}

{% block navbar %}
      <li><a class="inactive">Atletas</a></li>
      <li class="active"><a href="#">Competiciones</a></li>
      <li><a class="inactive">Records</a></li>
      <li><a class="inactive">Noticias</a></li>
      <li><a class="inactive">Informes</a></li>
      <li><a href="./configuracion">Configuraci칩n</a></li>
   </ul>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="./">Portada Admin</a></li>
  <li class="active">Competiciones</li>
</ol>
{% endblock %}

{% block container %}
{# Mostrar contenido de una variable {{ dump() }} #}
   <h1 id="container_title" class="row page-header">Listado de competiciones</h1>
   <div id="container_header" class="row">
      <div class="col-xs-4">
         <select class="form-control">
            <option>Todas las temporadas</option>
            <option>Temporada 2014/2015</option>
            <option>Temporada 2013/2014</option>
            <option>Temporada 2012/2013</option>
         </select>
      </div>
      <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> A침adir</button>
      <div class="input-group col-xs-4 pull-right">
         <input type="search" class="form-control" placeholder="Buscar">
         <div class="input-group-btn"><button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button></div>
      </div>
   </div>
   <div class="row">
   <table id="primary_table" class="table table-hover table-bordered table-condensed table-striped table-responsive">
      <tbody>
         <tr>
            <th>Temporada</th>
            <th>Ubicaci칩n</th>
            <th>Competici칩n</th>
            <th>Fecha</th>
            <th>Sede</th>
            <th>Atletas inscritos</th>
            <th>Acciones</th>
         </tr>
         <tr><td>2012/2013</td><td>Lugar</td><td>FILA DE EJEMPLO</td><td>xx/xx/xxxx</td><td>Lugar</td><td>55</td>
         <td>
            <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-edit"></span></button>
            <button type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
         </td></tr>
         {% for row in competiciones %}
         <tr><td>{{ row.temp }}</td><td>{{ row.ubicacion }}</td><td>{{ row.nombre }}</td><td>xx/xx/xxxx</td><td>{{ row.sede }}</td><td>0</td>
         <td>
            <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-edit"></span></button>
            <button type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
         </td></tr>
         {% endfor %}
         </tbody>
   </table>
   </div>

   {{ dump(competiciones) }}
   {{ dump(dato) }}
   
{% endblock %}

{% block js %}

{% endblock %}



