
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}Lista de competiciones{% endblock %}

{% block navbar %}
      <li><a class="inactive">Atletas</a></li>
      <li class="active"><a href="./">Competiciones</a></li>
      <li><a class="inactive">Records</a></li>
      <li><a class="inactive">Noticias</a></li>
      <li><a class="inactive">Informes</a></li>
      <li><a href="../configuracion/">Configuraci칩n</a></li>
{% endblock %}

{% block breadcrumb %}
  <li><a href="../">Portada Admin</a></li>
  <li class="active">Competiciones</li>
{% endblock %}

{% block container %}
{# Mostrar contenido de una variable {{ dump() }} #}
   <h1 id="container_title" class="row page-header">Listado de competiciones</h1>
   <div id="container_header" class="row">
      <div class="col-xs-8 col-sm-6">
         <select class="form-control" disabled>
            <option>Todas las temporadas</option>
            <option>Temporada 2014/2015</option>
            <option>Temporada 2013/2014</option>
            <option>Temporada 2012/2013</option>
         </select>
      </div>
      <a class="btn btn-primary" href="./nuevo/"><span class="glyphicon glyphicon-plus"></span> A침adir</a>
      <div class="input-group col-xs-12 col-sm-4 pull-right">
         <input type="search" class="form-control" placeholder="Buscar" disabled>
         <div class="input-group-btn"><button class="btn btn-default" type="button" disabled><span class="glyphicon glyphicon-search"></span></button></div>
      </div>
   </div>
   <div class="row">
   <table id="primary_table" class="table table-hover table-bordered table-condensed table-striped table-responsive">
      <tbody>
         <tr>
            <th>Temporada</th>
            <th>Ubicaci칩n</th>
            <th>Competici칩n</th>
            <th>Fecha</th>
            <th>Sede</th>
            <th>Atletas inscritos</th>
            <th>Acciones</th>
         </tr>
         {% for row in competiciones %}
         <tr class="clickable" onClick="goToUrl('./{{ row.sid }}/')">
            <td>{{ row.temp }}</td><td>{{ row.ubicacion }}</td><td>{{ row.nombre }}</td><td>
{% if row.fecha is null %} <em>Sin fecha</em> {% else %} {{ row.fecha|date('d/m/Y') }} {% endif %} </td>
            <td>{{ row.sede }}</td><td>0</td>
            <td>
               <a type="button" class="btn btn-xs btn-default" href="./editar/{{ row.sid }}/"><span class="glyphicon glyphicon-edit"></span></a>
               <a type="button" class="btn btn-xs btn-danger" href="./borrar?i={{ row.sid }}"><span class="glyphicon glyphicon-remove"></span></a>
            </td>
         </tr>
         {% endfor %}
         </tbody>
   </table>
   </div>
   
{% endblock %}

{% block js %}
   <script src="{{ asset('bundles/atletismo/js/scripts.js') }}"></script>
{% endblock %}



