
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}Lista de competiciones{% endblock %}

{% block navbar %}
      <li><a class="inactive">Atletas</a></li>
      <li class="active"><a href="./competiciones">Competiciones</a></li>
      <li><a class="inactive">Records</a></li>
      <li><a class="inactive">Noticias</a></li>
      <li><a class="inactive">Informes</a></li>
      <li><a href="./configuracion/">Configuración</a></li>
{% endblock %}

{% block breadcrumb %}
  <li><a href="./">Portada Admin</a></li>
  <li class="active">Competiciones</li>
{% endblock %}

   {% block modallabel %}Confirmar borrado{% endblock %}
   {% block modalbody %}
   <p>¿Confirmar borrado de la competición <strong id="data1">***</strong> de la temporada <strong id="data2">***</strong>?</p>
   {% endblock %}
   {% block modalprimary %}<a id="confirmbutton" type="button" class="btn btn-danger" href=""><span class="glyphicon glyphicon-remove"></span> Borrar</a>{% endblock %}


{% block container %}   
   <h1 id="container_title" class="row page-header">Listado de competiciones</h1>
   <div id="container_header" class="row">
      <div class="col-xs-8 col-sm-6">
         <select class="form-control" onChange="comSearch(this.value, {% if query is defined %}'{{query}}'{% else %}null{% endif %})">
            <option value="" {% if temp is not defined %}selected{% endif %}>Todas las temporadas</option>
            {% for row in temporadas %}
            <option value="{{ row.temp }}"{% if temp is defined %}{% if temp == row.temp %}selected{% endif %}{% endif %}>Temporada {{ row.temp }}</option>
            {% endfor %}
         </select>
      </div>
      <a class="btn btn-primary" href="./competiciones/nuevo/"><span class="glyphicon glyphicon-plus"></span> Añadir</a>
      <div class="input-group col-xs-12 col-sm-4 pull-right">
         <input id="search-input" type="search" class="form-control" placeholder="Buscar"{% if query is defined %}value="{{query}}"{% endif %}) onkeydown="checkEnterKeypress(event)">
         <div class="input-group-btn"><button id="search-button" class="btn btn-default" type="button" onClick="comSearch({% if temp is defined %}{{temp}}{% else %}null{% endif %}, getQuery())"><span class="glyphicon glyphicon-search"></span></button></div>
      </div>
   </div>
   <div class="row">
   <table id="primary_table" class="table table-hover table-bordered table-condensed table-striped table-responsive">
      <tbody>
         <tr>
            <th>Temporada</th>
            <th>Competición</th>
            <th>Fecha</th>
            <th>Sede</th>
            <th>Pruebas</th>
            <th>Atletas inscritos</th>
            <th>Acciones</th>
         </tr>
         {% for com in competiciones %}
         <tr>
            <td class="clickable" onClick="goToUrl('./competiciones/{{ com.sid }}/')">{{ com.temp }}</td>
            <td class="clickable" onClick="goToUrl('./competiciones/{{ com.sid }}/')">{{ com.nombre }}</td>
            <td class="clickable" onClick="goToUrl('./competiciones/{{ com.sid }}/')">
{% if com.fecha is null %} <em>Sin fecha</em> {% else %} {{ com.fecha|date('d/m/Y') }} {% endif %} </td>
            <td class="clickable" onClick="goToUrl('./competiciones/{{ com.sid }}/')">{{ com.sede }}</td>
            <td class="clickable" onClick="goToUrl('./competiciones/{{ com.sid }}/')">{{ com.numpruebas }} <a type="button" class="btn btn-xs btn-default pull-right" data-toggle="tooltip" data-placement="top" title="Mostrar/editar pruebas" href="./pruebas/{{ com.sid }}"><span class="glyphicon glyphicon-list"></span></a></td>
            <td class="clickable" onClick="goToUrl('./competiciones/{{ com.sid }}/')">0</td>
            <td>
               <a type="button" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="Editar"href="./competiciones/editar/{{ com.sid }}/"><span class="glyphicon glyphicon-edit"></span></a>
               <button type="button" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Borrar" onClick="showModal('delCOM', '{{ com.nombre }}', '{{ com.temp }}', '{{ com.sid }}')"><span class="glyphicon glyphicon-remove"></span></span></button>
            </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
   </div>
   
{% endblock %}

{% block js %}
   <script src="{{ asset('bundles/atletismo/js/modals.js') }}"></script>
   <script src="{{ asset('bundles/atletismo/js/scripts.js') }}"></script>
{% endblock %}



