
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}Lista de competiciones{% endblock %}

{% block navbar %}
      <li><a href="{{ path('listado_atletas') }}">Atletas</a></li>
      <li class="active"><a href="{{ path('listado_competiciones') }}">Competiciones</a></li>
      <li><a class="inactive">Records</a></li>
      <li><a class="inactive">Informes</a></li>
      <li><a href="{{ path('configuracion') }}">Configuración</a></li>
{% endblock %}

{% block breadcrumb %}
  <li><a href="{{ path('homepage') }}">Portada Admin</a></li>
  <li class="active">Competiciones</li>
{% endblock %}

   {% block modallabel %}Confirmar borrado{% endblock %}
   {% block modalbody %}
   <p>¿Confirmar borrado de la competición <strong id="data1">***</strong> de la temporada <strong id="data2">***</strong>?</p>
   {% endblock %}
   {% block modalprimary %}<a id="confirmbutton" type="button" class="btn btn-danger" href=""><span class="glyphicon glyphicon-remove"></span> Borrar</a>{% endblock %}


{% block container %}   
   <h1 id="container_title" class="row page-header">Listado de competiciones</h1>
   <div id="container_header" class="row">
      <div class="col-xs-8 col-sm-6">
         <select class="form-control" onChange="comSearch(this.value, {% if query is defined %}'{{query}}'{% else %}null{% endif %})">
            <option value="" {% if temp is not defined %}selected{% endif %}>Todas las temporadas</option>
            {% for row in temporadas %}
            <option value="{{ row.temp }}" {% if temp is defined %}{% if temp == row.temp %}selected{% endif %}{% endif %}>Temporada {{ row.temp }}/{{ (row.temp + 1)|slice(2, 2)}}</option>
            {% endfor %}
         </select>
      </div>
      <a class="btn btn-primary" href="{{ path('crear_competicion') }}"><span class="glyphicon glyphicon-plus"></span> Añadir</a>
      <div class="input-group col-xs-6 col-sm-4 pull-right">
         <input id="search-input" type="search" class="form-control" placeholder="Buscar"{% if query is defined %} value="{{query}}"{% endif %} onkeydown="checkEnterKeypress(event)">
         <div class="input-group-btn"><button id="search-button" class="btn btn-default" type="button" onClick="comSearch({% if temp is defined %}{{temp}}{% else %}null{% endif %}, getQuery())"><span class="glyphicon glyphicon-search"></span></button></div>
      </div>
   </div>
   <table id="primary_table" class="table table-hover table-bordered table-condensed table-striped table-responsive">
      <tbody>
         <tr>
            <th{% if temp is defined %} class="hidden-xs"{% endif %}><abbr title="Temporada" class="visible-xs-block">Temp.</abbr><div class="hidden-xs">Temporada</div></th>
            <th>Competición</th>
            <th>Fecha</th>
            <th class="hidden-xs">Sede</th>
            <th><abbr title="Pruebas" class="visible-xs-block">Pru.</abbr><div class="hidden-xs">Pruebas</div></th>
            <th><abbr title="Atletas inscritos" class="visible-xs-block">Atl.</abbr><div class="hidden-xs">Atletas inscritos</div></th>
            <th><abbr title="Acciones" class="visible-xs-block">Acc.</abbr><div class="hidden-xs">Acciones</div></th>
         </tr>
         {% for com in competiciones %}
         <tr>
            <td class="clickable{% if temp is defined %} hidden-xs{% endif %}" onClick="goToUrl('{{ path('ver_competicion', {'id': com.sid}) }}')">{{ com.temp }}/{{ (com.temp + 1)|slice(2, 2) }}</td>
            <td class="clickable" onClick="goToUrl('{{ path('ver_competicion', {'id': com.sid}) }}')">{{ com.nombre }}</td>
            <td class="clickable" onClick="goToUrl('{{ path('ver_competicion', {'id': com.sid}) }}')">
{% if com.fecha is null %} <em class="text-muted">Sin fecha</em> {% else %} {{ com.fecha|date('d/m/Y') }} {% endif %} </td>
            <td class="clickable hidden-xs" onClick="goToUrl('{{ path('ver_competicion', {'id': com.sid}) }}')">{{ com.sede }}</td>
            <td class="clickable{% if com.numpruebas == 0 %} warning text-warning{% endif %}" onClick="goToUrl('{{ path('ver_competicion', {'id': com.sid}) }}')">{{ com.numpruebas }} <a type="button" class="btn btn-xs btn-{% if com.numpruebas == 0 %}warning{% else %}default{% endif %} pull-right" data-toggle="tooltip" data-placement="top" title="Mostrar/editar pruebas" href="{{ path('listado_pruebas', {'sidCom': com.sid}) }}"><span class="glyphicon glyphicon-list-alt"></span></a></td>
            <td class="clickable{% if com.numatletas == 0 %} warning text-warning{% endif %}" onClick="goToUrl('{{ path('ver_competicion', {'id': com.sid}) }}')">{{ com.numatletas }} <a type="button" class="btn btn-xs btn-{% if com.numatletas == 0 %}warning{% else %}default{% endif %} pull-right" data-toggle="tooltip" data-placement="top" title="Inscribir atletas" href="{{ path('listado_inscripciones', {'sidCom': com.sid}) }}"><span class="glyphicon glyphicon-user"></span></a></td>
            <td>
               <div class="btn-group visible-xs-block">
                  <button type="button" class="btn btn-xs btn-block btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-horizontal"></span></button>
                  <ul class="dropdown-menu pull-right">
                     <li><a href="{{ path('editar_competicion', {'id': com.sid}) }}"><span class="glyphicon glyphicon-edit"></span> Editar</a></li>
                     <li><a class="bg-danger" href="#" onClick="showModal('delCOM', '{{ com.nombre }}', '{{ com.temp }}', '{{ path('borrar_competicion', {'i': com.sid}) }}')"><div class="text-danger"><span class="glyphicon glyphicon-remove"></span> Borrar</div></a></li>
                  </ul>
               </div>
               <div class="hidden-xs">
                  <a type="button" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="Editar" href="{{ path('editar_competicion', {'id': com.sid}) }}"><span class="glyphicon glyphicon-edit"></span></a>
                  <button type="button" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Borrar" onClick="showModal('delCOM', '{{ com.nombre }}', '{{ com.temp }}', '{{ path('borrar_competicion', {'i': com.sid}) }}')"><span class="glyphicon glyphicon-remove"></span></button>
               </div>
            </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
   
{% endblock %}

{% block js %}
   <script src="{{ asset('bundles/atletismo/js/modals.js') }}"></script>
   <script src="{{ asset('bundles/atletismo/js/scripts.js') }}"></script>
{% endblock %}



