
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}{{ com.nombre }} ({{ com.temp }}/{{ (com.temp + 1)|slice(2, 2) }}){% endblock %}

{% block navbar %}
      <li><a href="{{ path('listado_atletas') }}">Atletas</a></li>
      <li class="active"><a href="{{ path('listado_competiciones') }}">Competiciones</a></li>
      <li><a class="inactive">Records</a></li>
      <li><a class="inactive">Informes</a></li>
      <li><a href="{{ path('configuracion') }}">Configuración</a></li>
{% endblock %}

{% block breadcrumb %}
  <li><a href="{{ path('homepage') }}">Portada Admin</a></li>
  <li><a href="{{ path('listado_competiciones') }}">Competiciones</a></li>
  <li class="active">{{ com.nombre }} ({{ com.temp }}/{{ (com.temp + 1)|slice(2, 2) }})</li>
{% endblock %}

   {% block modallabel %}Confirmar borrado{% endblock %}
   {% block modalbody %}
   <p>¿Confirmar borrado de la competición <strong id="data1">***</strong> de la temporada <strong id="data2">***</strong>?</p>
   {% endblock %}
   {% block modalprimary %}<a id="confirmbutton" type="button" class="btn btn-danger" href=""><span class="glyphicon glyphicon-remove"></span> Borrar</a>{% endblock %}

{% block container %}
   <h1 id="container_title" class="page-header">{{ com.nombre }} ({{ com.temp }}/{{ (com.temp + 1)|slice(2, 2) }})
      <span><a type="button" class="btn btn-lg btn-primary pull-right" href="{{ path('registrar_intentos', {'com': com.sid}) }}"><span class="glyphicon glyphicon-dashboard"></span> Registrar marcas</a></span>
   </h1>
    
   <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-push-4">
         <table class="table table-responsive">
            <tbody>
               <tr><td><strong>Tipo:</strong></td><td>AIRE LIBRE</td></tr>
               <tr><td><strong>Ubicacion:</strong></td><td>{{ com.ubicacion }}</td></tr>
               <tr><td colspan="2"><strong>Descripción:</strong></td></tr>
               <tr><td colspan="2"><p>{{ com.desc|nl2br }}</p></td></tr>
               <tr><td><strong>Fecha de comienzo:</strong></td><td>{% if com.fecha is null %} <em>Sin fecha</em> {% else %} {{ com.fecha|date('d/m/Y') }} {% endif %}</td></tr>
               <tr><td><strong>Página web:</strong></td><td><strong>Correo electrónico de contacto:</strong></td></tr>
               <tr><td><a href="{{ com.web }}">{{ com.web }}</a></td><td><a href="mailto:{{ com.email }}">{{ com.email }}</a></td></tr>
            </tbody>
         </table>
         <table class="table table-condensed table-responsive">
            <tbody>
               <tr><td><strong>Sede:</strong></td><td>{{ com.sede }}</td>
               <td><strong>Nivel:</strong></td><td>{{ com.nivel }}</td>
               <td><strong>Federación:</strong></td><td>{{ com.feder }}</td></tr>
            </tbody>
         </table>
         {% if com.esfeder is same as(true) %}
         <p class="text-center text-info bg-info"><strong>COMPETICIÓN FEDERADA</strong></p>
         {% elseif com.esoficial is same as(true) %}
         <p class="text-center text-info bg-info"><strong>COMPETICIÓN OFICIAL DEL CLUB</strong></p>
         {% endif %}
         <p><a type="button" class="btn btn-lg btn-default center-block" href=""><span class="glyphicon glyphicon-list"></span> Resultados</a></p>
         <a type="button" class="btn btn-m btn-default hidden-xs" href="javascript:history.back()"><span class="glyphicon glyphicon-menu-left"></span> Volver</a>
         <a type="button" class="btn btn-m btn-default" href="{{ path('editar_competicion', {'id': com.sid}) }}"><span class="glyphicon glyphicon-edit"></span> Editar</a>
         <a type="button" class="btn btn-m btn-{% if com.pruebas.toArray()|length == 0 %}warning{% else %}default{% endif %}" href="{{ path('listado_pruebas', {'sidCom': com.sid}) }}"><span class="glyphicon glyphicon-list-alt"></span> Lista de pruebas <span class="badge">{{ com.pruebas.toArray()|length }}</span></a>
         <a type="button" class="btn btn-m btn-{% if numatletas == 0 %}warning{% else %}default{% endif %}"{% if com.pruebas.toArray()|length == 0 %} disabled{% endif %} href="{{ path('listado_inscripciones', {'sidCom': com.sid}) }}"><span class="glyphicon glyphicon-user"></span> Atletas inscritos <span class="badge">{{ numatletas }}</span></a>
         <button type="button" class="btn btn-m btn-danger pull-right" onClick="showModal('delCOM', '{{ com.nombre }}', '{{ com.temp }}', '{{ path('borrar_competicion', {'i': com.sid}) }}')"><span class="glyphicon glyphicon-remove"></span> Borrar</button>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-pull-8">
         <a href="{{ vich_uploader_asset(com, 'cartelFile') }}"><img src="{{ vich_uploader_asset(com, 'cartelFile') }}" alt="{{ com.nombre }}" class="img-responsive thumbnail"/></a>
      </div>
   </div>
   
{% endblock %}

{% block js %}
   <script src="{{ asset('bundles/atletismo/js/modals.js') }}"></script>

{% endblock %}



