   {% if exception is defined %}
   <div class="alert alert-danger alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span>{{ exception }}</span></div>
   {% endif %}

   <div id="data_form" class="row">

{% if mode == "new" %}
{{ form_start(form, {'action': path('crear_prueba', {'sidCom': sidCom})}) }}
{% elseif mode == "edit" %}
{{ form_start(form, {'action': path('editar_prueba', {'sidCom': sidCom, 'sidPru': sidPru})}) }}
{% endif %}

     <div>
       <div class="form_row col-xs-6">
          {{ form_row(form.tprf) }}
       </div>
       <div class="form_row col-xs-6">
          {{ form_row(form.sidtprm) }}
       </div>
    </div>
    <div>
       <div class="form_row col-xs-6">
          {{ form_row(form.idCat) }}
       </div>
       <div class="form_row col-xs-6">
          {{ form_row(form.coste) }}
       </div>
    </div>
    
    <div class="subform panel panel-default">
       <div class="panel-heading">RONDAS<button type="button" class="btn btn-default btn-sm pull-right" onClick="addFormRow()"><span class="glyphicon glyphicon-plus" aria-label="Añadir"></span> Añadir</button><div class="clearfix"></div></div>
       <div class="panel-body">
          <table class="table-responsive table-condensed">
             <tbody id="form-collection" data-prototype='
                <tr class="subform-row">
                   <td>{{ form_widget(form.rondas.vars.prototype.num)|e }}{{ form_errors(form.rondas.vars.prototype.num)|e }}</td>
                   <td>{{ form_widget(form.rondas.vars.prototype.nombre)|e }}{{ form_errors(form.rondas.vars.prototype.nombre)|e }}</td>
                   <td><button type="button" class="btn btn-sm btn-danger" onClick="removeFormRow(this)"><span class="glyphicon glyphicon-remove" aria-label="Eliminar"></span></button></td>
                </tr>
             '>
                <tr><th>Número</th><th>Nombre</th><th></th></tr>
                {% for ron in form.rondas %}
                <tr class="subform-row">
                   <td>{{ form_widget(ron.num) }}{{ form_errors(ron.num) }}</td>
                   <td>{{ form_widget(ron.nombre) }}{{ form_errors(ron.nombre) }}</td>
                   <td><button type="button" class="btn btn-sm btn-danger" onClick="removeFormRow(this)"><span class="glyphicon glyphicon-remove" aria-label="Eliminar"></span></button></td>
                </tr>
                {% endfor %}
             </tbody>
          </table>
       </div>
    </div>
    
    {{ form_rest(form) }}
 
{{ form_end(form) }}
   </div>
