
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}Lista de pruebas{% endblock %}

{% block navbar %}
      <li><a class="inactive">Atletas</a></li>
      <li class="active"><a href="../competiciones">Competiciones</a></li>
      <li><a class="inactive">Records</a></li>
      <li><a class="inactive">Noticias</a></li>
      <li><a class="inactive">Informes</a></li>
      <li><a href="../configuracion/">Configuración</a></li>
{% endblock %}

{% block breadcrumb %}
  <li><a href="../">Portada Admin</a></li>
  <li><a href="../competiciones">Competiciones</a></li>
  <li><a href="../competiciones/{{ id }}/">{{ com.nombre }} ({{ com.temp }})</a></li>
  <li class="active">Pruebas</li>
  
{% endblock %}

   {% block modallabel %}Confirmar borrado{% endblock %}
   {% block modalbody %}
   {% endblock %}
   {% block modalprimary %}<a id="confirmbutton" type="button" class="btn btn-danger" href=""><span class="glyphicon glyphicon-remove"></span> Borrar</a>{% endblock %}


{% block container %}   
   <h1 id="container_title" class="row page-header">Lista de pruebas <small>{{ com.nombre }} ({{ com.temp }})</small></h1>
   <div id="container_header" class="row">
      <a type="button" class="btn btn-m btn-default pull-left" href="javascript:history.back()"><span class="glyphicon glyphicon-menu-left"></span> Volver</a>
      <div class="col-xs-4">
         <select class="form-control col-xs-4">
            <option value="" {% if tpr is not defined %}selected{% endif %}>Tipo de prueba</option>
            {% for row in listapru %}
            <option value="{{ row.sidTprm }}">{{ row.sidTprm }}</option>
            {% endfor %}
         </select>
      </div>
      <div class="col-xs-3">
         <select class="form-control col-xs-3">
         <option value="" {% if cat is not defined %}selected{% endif %}>Categoría</option>
         </select>
      </div>
      <a class="btn btn-primary" href=""><span class="glyphicon glyphicon-plus"></span> Añadir</a>
   </div>
   <table id="primary_table" class="table table-hover table-bordered table-condensed table-striped table-responsive">
      <tbody>
         <tr>
            <th>Id</th>
            <th>Prueba</th>
            <th>Categoría</th>
            <th>Ronda</th>
            <th>Nombre</th>
            <th>Atletas inscritos</th>
            <th>Acciones</th>
         </tr>
         
         {% for pru in com.pruebas.toArray() %}
         <tr>
            <td>{{ pru.id }}</td>
            <td>{{ pru.sidTprm.sidTprf.nombre }}. {% if pru.sidTprm.sexo == 0 %}Masculino{% elseif pru.sidTprm.sexo == 1 %}Femenino{% endif%}, {{ pru.sidTprm.entorno }}</td>
            <td>{{ pru.idCat }}</td>
            <td>{{ pru.ronda }}</td>
            <td>{{ pru.nombre }}</td>
            <td>0</td>
            <td>
               <button type="button" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="Editar"><span class="glyphicon glyphicon-edit"></span></button>
               <button type="button" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Borrar"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
         </tr>
            {# <a type="button" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="Editar"href="./competiciones/editar/{{ row.sid }}/"><span class="glyphicon glyphicon-edit"></span></a>
               <button type="button" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Borrar" onClick="showModal('delCOM', '{{ row.nombre }}', '{{ row.temp }}', '{{ row.sid }}')"><span class="glyphicon glyphicon-remove"></span></span></button>
             #}
         {% endfor %}
      </tbody>
   </table>
   
{% endblock %}

{% block js %}
   <script src="{{ asset('bundles/atletismo/js/modals.js') }}"></script>
   <script src="{{ asset('bundles/atletismo/js/scripts.js') }}"></script>
{% endblock %}



