
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}Lista de pruebas{% endblock %}

{% block navbar %}
      <li><a href="{{ path('listado_atletas') }}">Atletas</a></li>
      <li class="active"><a href="{{ path('listado_competiciones') }}">Competiciones</a></li>
      <li><a class="inactive">Records</a></li>
      <li><a class="inactive">Informes</a></li>
      <li><a href="{{ path('configuracion') }}">Configuración</a></li>
{% endblock %}

{% block breadcrumb %}
  <li><a href="{{ path('homepage') }}">Portada Admin</a></li>
  <li><a href="{{ path('listado_competiciones') }}">Competiciones</a></li>
  <li><a href="{{ path('ver_competicion', {'id': com.sid}) }}">{{ com.nombre }} ({{ com.temp }}/{{ (com.temp + 1)|slice(2, 2) }})</a></li>
  <li class="active">Pruebas</li>
  
{% endblock %}

   {% block modallabel %}<div id="dialog-label"></div>{% endblock %}
   {% block modalbody %}<div id="dialog-body"></div>{% endblock %}
   {% block modalprimary %}<span id="dialog-btn"></span>{% endblock %}

{% block container %}   
   <h1 id="container_title" class="row page-header">Lista de pruebas <small>{{ com.nombre }} ({{ com.temp }}/{{ (com.temp + 1)|slice(2, 2) }})</small></h1>
   <div id="container_header" class="row">
      <a type="button" class="btn btn-m btn-default pull-left hidden-xs" href="javascript:history.back()"><span class="glyphicon glyphicon-menu-left"></span> Volver</a>
      <button class="updater hidden" onClick="location.reload()"></button>
      <div class="col-xs-6 col-sm-4">
         <select class="form-control" onChange="pruSearch({{ com.sid }}, this.value)">
         <option value=""{% if selcat is not defined %} selected{% endif %}>Categoría</option>
         {% for cat in categorias %}
            <option value="{{ cat.idCat }}"{% if selcat is defined %}{% if selcat == cat.idCat %} selected{% endif %}{% endif %}>{{ cat.nombre }}</option>
         {% endfor %}
         </select>
      </div>
      <button class="btn btn-primary" onClick="showModal('newPRU', {{ com.sid }}, null, null)"><span class="glyphicon glyphicon-plus"></span> Agregar prueba</button>
   </div>
   <table id="primary_table" class="table table-hover table-bordered table-condensed table-striped table-responsive">
      <tbody>
         <tr>
            <th>Id</th>
            <th>Prueba</th>
            <th{% if selcat is defined %} class="hidden-xs"{% endif %}><abbr title="Categoría" class="visible-xs-block">Categ.</abbr><div class="hidden-xs">Categoría</div></th>
            <th>Rondas</th>
            <th>Precio</th>
            <th><abbr title="Atletas inscritos" class="visible-xs-block">Atl.</abbr><div class="hidden-xs">Atletas inscritos</div></th>
            <th><abbr title="Acciones" class="visible-xs-block">Acc.</abbr><div class="hidden-xs">Acciones</div></th>
         </tr>
         
         {% for pru in pruebas %}
         {% if pru.tprm.sexo == 0 %}
            {% set tpr = pru.tprm.sidTprf.nombre ~ '. Masculino, ' ~ pru.tprm.entorno %}
         {% elseif pru.tprm.sexo == 1 %}
            {% set tpr = pru.tprm.sidTprf.nombre ~ '. Femenino, ' ~ pru.tprm.entorno %}
         {% endif %}
         <tr>
            <td>{{ pru.id }}</td>
            <td>{{ tpr }}</td>
            <td{% if selcat is defined %} class="hidden-xs"{% endif %}>{{ pru.cat.nombre }}</td>
            <td>{{ pru.rondas|length }}
               <button type="button" class="btn btn-xs btn-default pull-right" data-toggle="tooltip" data-placement="top" title="Mostrar rondas" onClick="toggleDropListTable({{ pru.sid }}, $(this))"><span class="glyphicon glyphicon-collapse-down"></span></button>
            </td>
            <td>{{ pru.coste|number_format(2, ',', '.') }}€</td>
            <td>0<button type="button" class="btn btn-xs btn-default pull-right" data-toggle="tooltip" data-placement="top" title="Lista de inscritos" disabled><span class="glyphicon glyphicon-user"></span></button></td>
            <td>
               <div class="btn-group visible-xs-block">
                  <button type="button" class="btn btn-xs btn-block btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-horizontal" aria-label="Acciones"></span></button>
                  <ul class="dropdown-menu pull-right">
                     <li><a href="#" onClick="showModal('ediPRU', {{ com.sid }}, {{ pru.sid }}, null)"><span class="glyphicon glyphicon-edit"></span> Editar</a></li>
                     <li><a class="bg-danger" href="#" onClick="showModal('delPRU', {{ com.sid }}, {{ pru.sid }}, '{{ tpr }}')"><div class="text-danger"><span class="glyphicon glyphicon-remove"></span> Borrar</div></a></li>
                  </ul>
               </div>
               <div class="hidden-xs">
                  <button type="button" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="Editar" onClick="showModal('ediPRU', {{ com.sid }}, {{ pru.sid }}, null)"><span class="glyphicon glyphicon-edit"></span></button>
                  <button type="button" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Borrar" onClick="showModal('delPRU', {{ com.sid }}, {{ pru.sid }}, '{{ tpr }}')"><span class="glyphicon glyphicon-remove"></span></button>
               </div>
            </td>
         </tr>
         <tr><td colspan="7" style="padding: 0px">
            <div id="droplist-{{ pru.sid }}" class="droplist">
               <table class="table table-responsive table-hover table-bordered">
                  <tbody>
                     <tr>
                        <th>Id</th>
                        <th># Ronda</th>
                        <th>Nombre</th>
                        <th>Atletas</th>
                     </tr>
                     {% for ron in pru.rondas %}
                        <tr>
                           <td><span class="glyphicon glyphicon-chevron-right"></span> {{ ron.id }}</td>
                           <td>{{ ron.num }}</td>
                           <td>{{ ron.nombre }}</td>
                           <td>
                              0 <span class="hidden-xs">atletas</span>
                              <button disabled type="button" class="btn btn-xs btn-default pull-right" data-toggle="tooltip" data-placement="top" title="Ver resultados" onClick="showModal()"><span class="glyphicon glyphicon-list-alt"></span><span class="hidden-xs"> Ver resultados</span></button>
                           </td>
                        </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
         </td></tr>
         
         {% endfor %}
      </tbody>
   </table>
   
{% endblock %}

{% block js %}
   <script src="{{ asset('bundles/atletismo/js/modals.js') }}"></script>
   <script src="{{ asset('bundles/atletismo/js/scripts.js') }}"></script>
{% endblock %}



