
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}Lista de pruebas{% endblock %}

{% block navbar %}
      <li><a class="inactive">Atletas</a></li>
      <li class="active"><a href="../competiciones">Competiciones</a></li>
      <li><a class="inactive">Records</a></li>
      <li><a class="inactive">Noticias</a></li>
      <li><a class="inactive">Informes</a></li>
      <li><a href="../configuracion/">Configuración</a></li>
{% endblock %}

{% block breadcrumb %}
  <li><a href="../">Portada Admin</a></li>
  <li><a href="../competiciones">Competiciones</a></li>
  <li><a href="../competiciones/{{ com.sid }}/">{{ com.nombre }} ({{ com.temp }} / {{ com.temp + 1}})</a></li>
  <li class="active">Pruebas</li>
  
{% endblock %}

   {% block modallabel %}<div id="dialog-label"></div>{% endblock %}
   {% block modalbody %}<div id="dialog-body"></div>{% endblock %}
   {% block modalprimary %}<span id="dialog-btn"></span>{% endblock %}

{% block container %}   
   <h1 id="container_title" class="row page-header">Lista de pruebas <small>{{ com.nombre }} ({{ com.temp }} / {{ com.temp + 1}})</small></h1>
   <div id="container_header" class="row">
      <a type="button" class="btn btn-m btn-default pull-left" href="javascript:history.back()"><span class="glyphicon glyphicon-menu-left"></span> Volver</a>
      <button class="updater hidden" onClick="location.reload()"></button>
      <div class="col-xs-4">
         <select class="form-control col-xs-4" onChange="pruSearch({{ com.sid }}, this.value, {% if selcat is defined %}'{{ selcat }}'{% else %}null{% endif %})">
            <option value=""{% if seltpr is not defined %} selected{% endif %}>Seleccionar prueba</option>
            {% for tpr in tipospruebas %}
               <option value="{{ tpr.sidTprm }}"{% if seltpr is defined %}{% if seltpr == tpr.sidTprm %} selected{% endif %}{% endif %}>{{ tpr.nombre }}. {% if tpr.sexo == 0 %}Masculino, {% elseif tpr.sexo == 1 %}Femenino, {% endif %}{{ tpr.entorno }}</option>
            {% endfor %}
         </select>
      </div>
      <div class="col-xs-3">
         <select class="form-control col-xs-3" onChange="pruSearch({{ com.sid }}, {% if seltpr is defined %}'{{ seltpr }}'{% else %}null{% endif %}, this.value)">
         <option value=""{% if selcat is not defined %} selected{% endif %}>Categoría</option>
         {% for cat in categorias %}
            <option value="{{ cat.idCat }}"{% if selcat is defined %}{% if selcat == cat.idCat %} selected{% endif %}{% endif %}>{{ cat.nombre }}</option>
         {% endfor %}
         </select>
      </div>
      <button class="btn btn-primary" onClick="showModal('newPRU', {{ com.sid }}, null, null)"><span class="glyphicon glyphicon-plus"></span> Agregar prueba</button>
   </div>
   <table id="primary_table" class="table table-hover table-bordered table-condensed table-striped table-responsive">
      <tbody>
         <tr>
            <th>Id</th>
            <th>Prueba</th>
            <th>Categoría</th>
            <th>Ronda</th>
            <th>Nombre</th>
            <th>Atletas inscritos</th>
            <th>Acciones</th>
         </tr>
         
         {% for pru in pruebas %}
         <tr>
            <td>{{ pru.id }}</td>
            <td>{{ pru.tprm.sidTprf.nombre }}. {% if pru.tprm.sexo == 0 %}Masculino, {% elseif pru.tprm.sexo == 1 %}Femenino, {% endif%}{{ pru.tprm.entorno }}</td>
            <td>{{ pru.cat.nombre }}</td>
            <td>{{ pru.ronda }}<button type="button" class="btn btn-xs btn-default pull-right" data-toggle="tooltip" data-placement="top" title="Añadir ronda siguiente" onClick="showModal('newRondaPRU', {{ com.sid }}, {{ pru.sid }}, null)"><span class="glyphicon glyphicon-plus-sign"></span></button></td>
            <td>{{ pru.nombre }}</td>
            <td>0<button type="button" class="btn btn-xs btn-default pull-right" data-toggle="tooltip" data-placement="top" title="Lista de inscritos" disabled><span class="glyphicon glyphicon-list"></span></button></td>
            <td>
               <button type="button" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="Duplicar" onClick="showModal('dupPRU', {{ com.sid }}, {{ pru.sid }}, null)"><span class="glyphicon glyphicon-duplicate"></span></button>
               <button type="button" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="Editar" onClick="showModal('ediPRU', {{ com.sid }}, {{ pru.sid }}, null)"><span class="glyphicon glyphicon-edit"></span></button>
               <button type="button" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Borrar" onClick="showModal('delPRU{% if pru.unique %}warn{% endif %}', '{{ com.sid }}', '{{ pru.nombre }}', {{ pru.sid }})"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
   
{% endblock %}

{% block js %}
   <script src="{{ asset('bundles/atletismo/js/modals.js') }}"></script>
   <script src="{{ asset('bundles/atletismo/js/scripts.js') }}"></script>
{% endblock %}



