
   {% if exception is defined %}
   <div class="alert alert-danger alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <strong>Error: </strong><span>{{ exception }}</span></div>
   {% endif %}

   <div id="data_form" class="row">

{#{ form_start(form, {'action': path('crear_tipopruebaformato'), 'attr': {'novalidate': 'novalidate'}}) }#}

{% if mode == "new" %}
{{ form_start(form, {'action': path('crear_tipopruebaformato')}) }}
{% elseif mode == "edit" %}
{{ form_start(form, {'action': path('editar_tipopruebaformato', {'id': id})}) }}
{% endif %}

    {{ form_errors(form) }}
    
    <div>
       <div class="form_row col-xs-12">
          {{ form_row(form.nombre) }}
       </div>
    </div>
    <div>
       <div class="form_row col-xs-8">
          {{ form_row(form.unidades) }}
       </div>
       <div class="form_row col-xs-4">
          {{ form_row(form.numint) }}
       </div>
    </div>
    
    <div><strong>MODALIDADES </strong><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-label="Añadir"></span> Añadir</button></div>
    {% for mod in form.modalidades %}
    <div>
       <div class="form_row col-xs-5">
          {{ form_row(mod.sexo) }}
       </div>
       <div class="form_row col-xs-6 input-sm">
          {{ form_row(mod.entorno) }}
       </div>
       <div class="col-xs-1">
          <button type="button" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove" aria-label="Eliminar"></span></button>
       </div>
    </div>
    {% endfor %}
    
    {{ form_rest(form) }}
 
{{ form_end(form) }}
   </div>



