
   {% if exception is defined %}
   <div class="alert alert-danger alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <strong>Error: </strong><span class="glyphicon glyphicon-exclamation-sign"></span> {{ exception }}</div>
   {% endif %}

   <div id="data_form" class="row">

{#{ form_start(form, {'action': path('crear_tipopruebaformato'), 'attr': {'novalidate': 'novalidate'}}) }#}

{% if mode == "new" %}
{{ form_start(form, {'action': path('crear_tipopruebaformato')}) }}
{% elseif mode == "edit" %}
{{ form_start(form, {'action': path('editar_tipopruebaformato', {'id': id})}) }}
{% endif %}

    {{ form_errors(form) }}
    
    <div>
       <div class="form_row col-xs-12">
          {{ form_row(form.nombre) }}
       </div>
    </div>
    <div>
       <div class="form_row col-xs-8">
          {{ form_row(form.unidades) }}
       </div>
       <div class="form_row col-xs-4">
          {{ form_row(form.numint) }}
       </div>
    </div>
    
    <div class="subform panel panel-default">
       <div class="panel-heading">MODALIDADES<button type="button" class="btn btn-default btn-sm pull-right" onClick="addFormRow(); addAutoComplete('.subform-row input', null)"><span class="glyphicon glyphicon-plus" aria-label="Añadir"></span> Añadir</button><div class="clearfix"></div></div>
       <div class="panel-body">
          <table class="table-responsive table-condensed">
             <tbody id="form-collection" data-prototype='
                <tr class="subform-row">
                   <td>{{ form_widget(form.modalidades.vars.prototype.sexo)|e }}{{ form_errors(form.modalidades.vars.prototype.sexo)|e }}</td>
                   <td>{{ form_widget(form.modalidades.vars.prototype.entorno)|e }}{{ form_errors(form.modalidades.vars.prototype.entorno)|e }}</td>
                   <td><button type="button" class="btn btn-sm btn-danger" onClick="removeFormRow(this)"><span class="glyphicon glyphicon-remove" aria-label="Eliminar"></span></button></td>
                </tr>
             '>
                <tr><th>Sexo</th><th>Entorno</th><th></th></tr>
                {% for mod in form.modalidades %}
                <tr class="subform-row">
                   <td>{{ form_widget(mod.sexo) }}{{ form_errors(mod.sexo) }}</td>
                   <td>
                      {% if form_errors(mod.entorno) != "" %}<div class="form-group has-error">{% endif %}
                         {{ form_widget(mod.entorno) }}{{ form_errors(mod.entorno) }}
                      {% if form_errors(mod.entorno) != "" %}</div>{% endif %}
                   </td>
                   <td><button type="button" class="btn btn-sm btn-danger" onClick="removeFormRow(this)"><span class="glyphicon glyphicon-remove" aria-label="Eliminar"></span></button></td>
                </tr>
                {% endfor %}
             </tbody>
          </table>
       </div>
    </div>
    
    {{ form_rest(form) }}
 
{{ form_end(form) }}
   </div>
