               <tbody>
                  <tr>
                     <th>Nombre</th>
                     <th><abbr title="Modalidades" class="visible-xs-block">Mod.</abbr><div class="hidden-xs">Modalidades</div></th>
                     <th>Unidades</th>
                     <th><abbr title="Intentos por prueba" class="visible-xs-block"># Int.</abbr><div class="hidden-xs">Intentos por prueba</div></th>
                     <th><abbr title="Acciones" class="visible-xs-block">Acc.</abbr><div class="hidden-xs">Acciones</div></th>
                  </tr>
                  {% for row in tiposprueba %}
                  <tr>
                     <td>{{ row.nombre }}</td>
                     <td>{{ row.modalidades.toArray()|length }} <button type="button" class="btn btn-xs btn-default pull-right" data-toggle="tooltip" data-placement="top" title="Mostrar" onClick="toggleDropListTable({{ row.sid }}, $(this))" {% if row.modalidades.toArray()|length == 0 %}disabled{% endif %}><span class="glyphicon glyphicon-collapse-down"></span></button>
                     </td>
                     <td>{{ row.unidades }}</td><td>{{ row.numint }}</td>
                     <td>
                        <div class="btn-group visible-xs-block">
                           <button type="button" class="btn btn-xs btn-block btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-horizontal" aria-label="Acciones"></span></button>
                           <ul class="dropdown-menu pull-right">
                              <li><a href="#" onClick="showModal('ediTPR', '{{ row.nombre }}', {{ row.sid }}, null)"><span class="glyphicon glyphicon-edit"></span> Editar</a></li>
                              <li><a class="bg-danger" href="#" onClick="showModal('delTPR', '{{ row.nombre }}', {{ row.sid }}, null)"><div class="text-danger"><span class="glyphicon glyphicon-remove"></span> Borrar</div></a></li>
                           </ul>
                        </div>
                        <div class="hidden-xs">
                           <button type="button" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="Editar" onClick="showModal('ediTPR', '{{ row.nombre }}', {{ row.sid }}, null)"><span class="glyphicon glyphicon-edit"></span></button>
                           <button type="button" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Borrar" onClick="showModal('delTPR', '{{ row.nombre }}', {{ row.sid }}, null)"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                     </td>
                  </tr>
                  <tr><td colspan="5" style="padding: 0px">
                      <div id="droplist-{{ row.sid }}" class="droplist">
                      <table class="table">
                        <tbody>
                           {% for mod in row.modalidades.toArray() %}
                           <tr><td><span class="glyphicon glyphicon-chevron-right"></span> {% if mod.sexo == 0 %}Masculino, {% elseif mod.sexo == 1 %}Femenino, {% endif%}{{ mod.entorno }}</td></tr>
                           {% endfor %}
                        </tbody>
                     </table>
                     </div>
                  </td></tr>

                  {% endfor %}
               </tbody>

