               <tbody>
                  <tr>
                     <th>Nombre</th>
                     <th>Unidades</th>
                     <th>Intentos por prueba</th>
                     <th>Acciones</th>
                  </tr>
                  {% for row in tiposprueba %}
                  <tr>
                     <td>{{ row.nombre }}</td><td>{{ row.unidades }}</td><td>{{ row.numint }}</td>
                     <td>
                        <button type="button" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="Modalidades"><span class="glyphicon glyphicon-collapse-down"></span></button>
                        <button type="button" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="Editar" onClick="showModal('ediTPR', '{{ row.nombre }}', {{ row.sid }}, null)"><span class="glyphicon glyphicon-edit"></span></button>
                        <button type="button" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Borrar" onClick="showModal('delTPR', '{{ row.nombre }}', {{ row.sid }}, null)"><span class="glyphicon glyphicon-remove"></span></button>
                        </td>
                  </tr>
                  {% endfor %}
               </tbody>

