               <tbody>
                  <tr>
                     <th>Nombre</th>
                     <th>Modalidades</th>
                     <th>Unidades</th>
                     <th>Intentos por prueba</th>
                     <th>Acciones</th>
                  </tr>
                  {% for row in tiposprueba %}
                  <tr>
                     <td>{{ row.nombre }}</td>
                     <td>{{ row.modalidades.toArray()|length }} <button type="button" class="btn btn-xs btn-default pull-right" data-toggle="tooltip" data-placement="top" title="Mostrar" onClick="toggleTprmTable({{ row.sid }}, $(this))" {% if row.modalidades.toArray()|length == 0 %}disabled{% endif %}><span class="glyphicon glyphicon-collapse-down"></span></button>
                     </td>
                     <td>{{ row.unidades }}</td><td>{{ row.numint }}</td>
                     <td>
                        <button type="button" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="Editar" onClick="showModal('ediTPR', '{{ row.nombre }}', {{ row.sid }}, null)"><span class="glyphicon glyphicon-edit"></span></button>
                        <button type="button" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Borrar" onClick="showModal('delTPR', '{{ row.nombre }}', {{ row.sid }}, null)"><span class="glyphicon glyphicon-remove"></span></button>
                     </td>
                  </tr>
                  <tr id="tprm-table-{{ row.sid }}" style="display:none;"><td colspan="5">
                      <table class="table">
                        <tbody>
                           {% for mod in row.modalidades.toArray() %}
                           <tr><td><span class="glyphicon glyphicon-chevron-right"></span> {% if mod.sexo == 0 %}Masculino, {% elseif mod.sexo == 1 %}Femenino, {% endif%}{{ mod.entorno }}</td></tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </td></tr>

                  {% endfor %}
               </tbody>

