
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}
   {% if mode == "new" %}A침adir atleta
   {% elseif mode == "edit" %}Editar atleta
   {% endif %}
{% endblock %}

{% block css %}
    {{ parent() }}
   <style> .vich-image img {max-width: 200px} </style>
{% endblock %}

{% block navbar %}
      {% if app.user.idAtl is not null %}<li><a href="{{ path('mis_competiciones') }}">Mis competiciones</a></li>{% endif %}
      <li class="active"><a href="{{ path('listado_atletas') }}">Atletas</a></li>
      <li><a href="{{ path('listado_competiciones') }}">Competiciones</a></li>
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Records <span class="caret"></span></a>
         <ul class="dropdown-menu">
            {% if app.user.idAtl is not null %}<li><a class="inactive" href="#">Mis records</a></li>{% endif %}
            <li><a href="{{ path('pantalla_records_masc') }}">Records masculinos</a></li>
            <li><a href="{{ path('pantalla_records_fem') }}">Records femeninos</a></li>
         </ul>
      </li>
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informes <span class="caret"></span></a>
         <ul class="dropdown-menu">
            <li><a href="{{ path('pantalla_resultados') }}">Resultados</a></li>
            <li><a href="{{ path('pantalla_asistencia') }}">Asistencia a eventos</a></li>
            <li><a class="inactive" href="#">Pagos pendientes</a></li>
         </ul>
      </li>
      <li><a href="{{ path('configuracion') }}">Configuraci칩n</a></li>
{% endblock %}

{% block breadcrumb %}
  <li><a href="{{ path('homepage_admin') }}">Portada Admin</a></li>
  <li><a href="{{ path('listado_atletas') }}">Atletas</a></li>
  {% if mode == "new" %}
  <li class="active">A침adir atleta</li>
  {% elseif mode == "edit" %}
  <li class="active">Editar atleta</li>
  {% endif %}
{% endblock %}

   {% block modallabel %}<div id="dialog-label"></div>{% endblock %}
   {% block modalbody %}<div id="dialog-body"></div>{% endblock %}
   {% block modalprimary %}<span id="dialog-btn"></span>{% endblock %}

{% block container %}
   {% if mode == "new" %}
   <h1 id="container_title" class="row page-header">A침adir atleta</h1>
   {% elseif mode == "edit" %}
    <h1 id="container_title" class="row page-header">Editar atleta <small> - {{ editando }}</small></h1>
   {% endif %}
   
   {% if exception is defined %}
   <div class="alert alert-danger alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <strong>Error: </strong><span>{{ exception }}</span></div>
   {% endif %}

   {% if warning is defined %}
   <div class="alert alert-warning alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <strong><span class="glyphicon glyphicon-alert"></span></strong><span> {{ warning }}</span></div>
   {% endif %}
   
   <div id="data_form" class="row">

{#{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }#}

{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class=row">
       <div class="form_row col-xs-12 col-sm-6">
          {{ form_row(form.apellidos) }}
       </div>
       <div class="form_row col-xs-12 col-sm-3">
          {{ form_row(form.nombre) }}
       </div>
       <div class="form_row col-xs-12 col-sm-3">
          {% if warnAtNick is defined %}
             <div class="form-group has-warning has-feedback">
                {{ form_label(form.nick) }}
                {{ form_widget(form.nick) }}
                <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true">
             </div>
          {% else %}
          {{ form_row(form.nick) }}
          {% endif %}
       </div>
    </div>
    <div class=row">
       <div class="form_row col-xs-6 col-sm-3">
          {% if warnAtDni is defined %}
             <div class="form-group has-warning has-feedback">
                {{ form_label(form.dni) }}
                {{ form_widget(form.dni) }}
                <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true">
             </div>
          {% else %}
          {{ form_row(form.dni) }}
          {% endif %}
       </div>
       <div class="form_row col-xs-6 col-sm-3">
          {{ form_row(form.fnac) }}
       </div>
       <div class="form_row col-xs-6 col-sm-3">
          {{ form_row(form.sexo) }}
       </div>
        <div class="form_row col-xs-6 col-sm-3">
          {{ form_row(form.bloque) }}
       </div>
    </div>
    <div class=row">
       <div class="form_row col-xs-9">
          {{ form_row(form.direccion) }}
       </div>
       <div class="form_row col-xs-3">
          {{ form_row(form.cp) }}
       </div>
    </div>
    <div class=row">
       <div class="form_row col-xs-6 col-sm-4">
          {{ form_row(form.localidad) }}
       </div>
       <div class="form_row col-xs-6 col-sm-4">
          {{ form_row(form.provincia) }}
       </div>
       <div class="form_row col-xs-6 col-sm-2">
          {{ form_row(form.pais) }}
       </div>
       <div class="form_row col-xs-6 col-sm-2">
          {{ form_row(form.nacion) }}
       </div>
    </div>
    <div class=row">
       <div class="form_row col-xs-6 col-sm-3">
          {{ form_row(form.lfga) }}
       </div>
       <div class="form_row col-xs-6 col-sm-3">
          {{ form_row(form.lxogade) }}
       </div>
       <div class="form_row col-xs-12 col-sm-6">
          {{ form_row(form.email) }}
       </div>
    </div>
    <div class=row">
       <div class="form_row col-xs-12 col-sm-6">
          {{ form_errors(form.fotoFile) }}
          {{ form_widget(form.fotoFile) }}
       </div>    
       <div class="col-xs-12 col-sm-6">
          <div class="row">
             <div class="form_row col-xs-12">
                <label class="control-label">Usuario </label>
                <span id="usu_nombre_display">
                {% if form.usu_nombre.vars.value == "" %}<em class="text-muted">Ninguno</em>
                {% else %}<span id="nombre_usu">{{ form.usu_nombre.vars.value }}</span>{% if form.usu_rol.vars.value == "coordinador" %} <strong class="text-info">Coordinador</strong>{% endif %}
                {% endif %}
                </span>
                {% if mode == "new" %}
                <button id="clear_usu" type="button" class="btn btn-default btn-xs{% if form.usu_nombre.vars.value == "" %} hidden{% endif %}" data-toggle="tooltip" data-placement="top" title="Quitar usuario" onClick="clearUsu()"><span class="glyphicon glyphicon-remove"></span></button>
                <button id="asig_usu" type="button" class="btn btn-default pull-right" onClick="showModal('asigUSU', 'Crear usuario', null, null)">Crear usuario</button>
                {% elseif mode == "edit" %}
                   <button type="button" class="updater hidden" onClick="updateUsuRow({{ form.vars.value.id }})">
                   <button id="asig_usu" type="button" class="btn btn-default pull-right{% if form.usu_nombre.vars.value != "" %} hidden{% endif %}" onClick="showModal('newUSU', '../../configuracion/usuario/nuevo', {{ form.vars.value.id }}, null)">Crear usuario</button>
                   <button id="del_usu" type="button" class="btn btn-danger pull-right{% if form.usu_nombre.vars.value == "" %} hidden{% endif %}" onClick="showModal('delUSU', '../../configuracion/usuario/borrar', $('#nombre_usu').html(), {{ form.vars.value.id }})">Borrar</button>   
                   <button id="edi_usu" type="button" class="btn btn-default pull-right{% if form.usu_nombre.vars.value == "" %} hidden{% endif %}" onClick="showModal('ediUSU', '../../configuracion/usuario/editar/', $('#nombre_usu').html(), {{ form.vars.value.id }})">Editar</button>   
                {% endif %}
             </div>
          </div>
          <div class="row">
             <div class="form_row col-xs-12">
                {{ form_row(form.notas) }}
             </div>
          </div>
          <div class="row">
              {% if mode == "new" %}
              <a type="button" class="btn btn-m btn-default col-xs-3" href={{ path('listado_atletas') }}><span class="glyphicon glyphicon-menu-left"></span> Cancelar</a>
              <button type="submit" class="btn btn-m btn-primary col-xs-offset-1 col-xs-8"><span class="glyphicon glyphicon-save"></span> Crear</button>
              {% elseif mode == "edit" %}
              <a type="button" class="btn btn-m btn-default col-xs-3" href="{{ path('listado_atletas') }}"><span class="glyphicon glyphicon-menu-left"></span> Cancelar</a>
              <button type="submit" class="btn btn-m btn-primary col-xs-offset-1 col-xs-8"><span class="glyphicon glyphicon-save"></span> Guardar</button>
              {% endif %}
          </div>
       </div>
    </div>
    
    {{ form_rest(form) }}
 
{{ form_end(form) }}
   </div>
   
{% endblock %}

{% block js %}
   <script src="{{ asset('bundles/atletismo/js/modals.js') }}"></script>
   <script src="{{ asset('bundles/atletismo/js/scripts.js') }}"></script>
   <script type="text/javascript">
      var autoCompleteData = [];
      {% for bloque in bloques %}
         autoCompleteData.push('{{ bloque }}');
      {% endfor %}
      addAutoComplete('#atl_bloque', autoCompleteData);
   </script>
{% endblock %}

