
{% extends 'EasanlesAtletismoBundle:Atleta:hist_atleta.html.twig' %}

{% block tabla %}
      <div>
         {% for entorno in entornos %}
            <h4>{{ entorno.entorno }}</h4>
            <table class="table table-hover table-bordered table-condensed table-striped table-responsive">
               <thead>
                  <tr>
                     <th>Competición</th>
                     {% if selTemp is not defined or selTemp == "" %}<th>Temporada</th>{% endif %}
                     <th>Fecha</th>
                     <th>Pruebas</th>
                  </tr>
               </thead>
               <tbody>
               {% for com in entorno.coms %}
                  <tr>
                     <td>{{ com.nombre }}{% if com.sede != "" %} - {{ com.sede }}{% endif %}
                     {% if selTemp is not defined or selTemp == "" %}<td>{{ com.temp }}/{{ (com.temp + 1)|slice(2, 2) }}</td>{% endif %}
                     <td>{{ com.fecha|date('d/m/Y') }}</td>
                     <td>{{ com.prus|length }} <button type="button" class="btn btn-xs btn-default pull-right" data-toggle="tooltip" data-placement="top" title="Mostrar pruebas y marcas" onClick="toggleDropListTable('{{ entorno.orden }}_{{ com.sid }}', $(this))"><span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span></button></td>
                  </tr>
                  <tr><td {% if selTemp is not defined or selTemp == "" %}colspan="4"{% else %}colspan="3"{% endif %} style="padding: 0px">
                     <div id="droplist-{{ entorno.orden }}_{{ com.sid }}" class="droplist">
                        <table class="table table-condensed">
                           <tbody>
                              <tr>
                                 <th>Prueba</th>
                                 <th>Categoría</th>
                                 <th>Última marca válida</th>
                                 <th>Premios</th>
                              </tr>
                              {% for pru in com.prus %}
                                 <tr>
                                    <td class="td-padding"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> {{ pru.nombre }}</td>
                                    <td>{{ pru.categoria }}</td>
                                    <td>
                                       {% if pru.marca is not null and pru.marca != "" %}
                                          {% if pru.unidades == "segundos" %}{{ (pru.marca / 3600)|round(0, "floor") }}{% set resto = pru.marca - ((pru.marca / 3600)|round(0, "floor") * 3600) %}:{{ "%02d"|format((resto / 60)|round(0, "floor")) }}{% set resto = resto - ((resto / 60)|round(0, "floor") * 60) %}:{{ "%06.3f"|format(resto) }}
                                          {% elseif pru.unidades == "metros" %}{{ pru.marca|number_format(3, ',', '.') }} m.
                                          {% elseif pru.unidades == "puntosdesc" %}{{ pru.marca|number_format(0, ',', '.') }} ptos.
                                          {% elseif pru.unidades == "puntosasc" %}{{ pru.marca|number_format(0, ',', '.') }} ptos.
                                          {% endif %}
                                       {% endif %}
                                    </td>
                                    <td>{{ pru.premios }}</td>
                                 </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                     </div>
                  </td></tr>
               {% endfor %}
               </tbody>
            </table>
         {% endfor %}
      </div>
{% endblock %}



