
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}Historial: {% if atl.nick is not null %}{{ atl.nick }}{% else %}{{atl.apellidos}}, {{atl.nombre}}{% endif %}{% endblock %}

{% block navbar %}
      {% if app.user.idAtl is not null %}<li><a href="{{ path('mis_competiciones') }}">Mis competiciones</a></li>{% endif %}
      <li class="active"><a href="{{ path('listado_atletas') }}">Atletas</a></li>
      <li><a href="{{ path('listado_competiciones') }}">Competiciones</a></li>
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Records <span class="caret"></span></a>
         <ul class="dropdown-menu">
            {% if app.user.idAtl is not null %}<li><a href="{{ path('users_pantalla_records_propios') }}">Mis records</a></li>{% endif %}
            <li><a href="{{ path('pantalla_records_masc') }}">Records masculinos</a></li>
            <li><a href="{{ path('pantalla_records_fem') }}">Records femeninos</a></li>
         </ul>
      </li>
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informes <span class="caret"></span></a>
         <ul class="dropdown-menu">
            <li><a href="{{ path('pantalla_resultados') }}">Resultados</a></li>
            <li><a href="{{ path('pantalla_asistencia') }}">Asistencia a eventos</a></li>
            <li><a href="{{ path('pagos_pendientes') }}">Pagos pendientes</a></li>
            <li><a href="{{ path('ingresos') }}">Ingresos</a></li>
         </ul>
      </li>
      <li><a href="{{ path('configuracion') }}">Configuración</a></li>
{% endblock %}

{% block breadcrumb %}
  <li><a href="{{ path('homepage_admin') }}">Portada Admin</a></li>
  {% if atl.esAlta == true %}
     <li><a href="{{ path('listado_atletas') }}">Atletas</a></li>
  {% else %}
     <li><a href="{{ path('listado_atletas') }}">Atletas</a></li>
     <li><a href="{{ path('listado_atletas_bajas') }}">Atletas de baja</a></li>
  {% endif %}
  <li><a href="{{ path('ver_atleta', {'id': atl.id}) }}">{% if atl.nick is not null %}{{ atl.nick }}{% else %}{{atl.apellidos}}, {{atl.nombre}}{% endif %}</a></li>
  <li class="active">Historial</li>
{% endblock %}

{% block container %}
   <h1 id="container_title" class="row page-header">Historial: <small>{% if atl.nick is not null %}{{ atl.nick }}{% else %}{{atl.apellidos}}, {{atl.nombre}}{% endif %}</small></h1>
    
   <div>
      <div id="container_header" class="row">
         <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
            <select class="form-control" id="sel-temp" onChange="goToUrl('?t='+this.value)">
               <option value=""{% if selTemp is not defined %} selected{% endif %}>Todas las temporadas</option>
               {% for temp in temps %}
                  <option value="{{ temp.temp }}"{% if selTemp is defined and selTemp == temp.temp %} selected{% endif %}>Temporada {{ temp.temp }}/{{ (temp.temp + 1)|slice(2, 2)}}</option>
               {% endfor %}
            </select>
            <div class="btn-group" role="group" aria-label="Mostrar" style="margin-top:0.5em">
               <button id="btn-exten" type="button" class="btn btn-info active" onClick="toggleHistView('exten')">Vista extendida</button>
               <button id="btn-compa" type="button" class="btn btn-default" onClick="toggleHistView('compa')">Vista compacta</button>
            </div>
         </div>
         <div class="hidden-xs col-sm-6 col-md-7 col-lg-8">
            <div class="row">
               <div class="col-sm-9 col-md-10">
                  <dl class="dl-horizontal">
                     {% if atl.dni is not null and atl.dni != "" %}
                        <dt>DNI</dt><dd>{{ atl.dni }}</dd>
                     {% endif %}
                     {% if atl.lfga is not null and atl.lfga != "" %}
                        <dt>Licencia FGA</dt><dd>{{ atl.lfga }}</dd>
                     {% endif %}
                     {% if atl.lxogade is not null and atl.lxogade != "" %}
                        <dt>Licencia XOGADE</dt><dd>{{ atl.lxogade }}</dd>
                     {% endif %}
                     <dt>Categoría</dt><dd>{{ cat.nombre }}</dd>
                  </dl>
               </div>
               <div class="col-sm-3 col-md-2">
                  {% if atl.foto is not null %}
                     <a href="{{ vich_uploader_asset(atl, 'fotoFile') }}"><img src="{{ vich_uploader_asset(atl, 'fotoFile') }}" alt="{{ atl.nombre }} {{ atl.apellidos }}" class="img-responsive"/></a>
                  {% else %}
                     {% image '@EasanlesAtletismoBundle/Resources/assets/img/sinfoto.jpg' %}
                        <img src="{{ asset_url }}" alt="{{ atl.nombre }} {{ atl.apellidos }}" class="img-responsive"/>
                     {% endimage %}
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
      <div id="exten-view">
         {% for entorno in entornos %}
            <h4>{{ entorno.entorno }}</h4>
            <table class="table table-hover table-bordered table-condensed table-striped table-responsive">
               <thead>
                  <tr>
                     <th>Competición</th>
                     {% if selTemp is not defined or selTemp == "" %}<th>Temporada</th>{% endif %}
                     <th>Fecha</th>
                     <th>Pruebas</th>
                  </tr>
               </thead>
               <tbody>
               {% for com in entorno.coms %}
                  <tr>
                     <td>{{ com.nombre }}{% if com.sede != "" %} - {{ com.sede }}{% endif %}
                     {% if selTemp is not defined or selTemp == "" %}<td>{{ com.temp }}/{{ (com.temp + 1)|slice(2, 2) }}</td>{% endif %}
                     <td>{{ com.fecha|date('d/m/Y') }}</td>
                     <td>{{ com.prus|length }} <button type="button" class="btn btn-xs btn-default pull-right" data-toggle="tooltip" data-placement="top" title="Mostrar pruebas y marcas" onClick="toggleDropListTable('{{ entorno.orden }}_{{ com.sid }}', $(this))"><span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span></button></td>
                  </tr>
                  <tr><td {% if selTemp is not defined or selTemp == "" %}colspan="4"{% else %}colspan="3"{% endif %} style="padding: 0px">
                     <div id="droplist-{{ entorno.orden }}_{{ com.sid }}" class="droplist">
                        <table class="table table-condensed">
                           <tbody>
                              <tr>
                                 <th>Prueba</th>
                                 <th class="hidden-xs">Categoría</th>
                                 <th>Última marca válida</th>
                                 <th>Notas</th>
                              </tr>
                              {% for pru in com.prus %}
                                 <tr>
                                    <td class="td-padding"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> {{ pru.nombre }}</td>
                                    <td class="hidden-xs">{{ pru.categoria }}</td>
                                    <td>
                                       {% if pru.marca is not null and pru.marca != "" %}
                                          {% if pru.unidades == "segundos" %}{{ (pru.marca / 3600)|round(0, "floor") }}{% set resto = pru.marca - ((pru.marca / 3600)|round(0, "floor") * 3600) %}:{{ "%02d"|format((resto / 60)|round(0, "floor")) }}{% set resto = resto - ((resto / 60)|round(0, "floor") * 60) %}:{{ "%06.3f"|format(resto) }}
                                          {% elseif pru.unidades == "metros" %}{{ pru.marca|number_format(3, ',', '.') }} m.
                                          {% elseif pru.unidades == "puntosdesc" %}{{ pru.marca|number_format(0, ',', '.') }} ptos.
                                          {% elseif pru.unidades == "puntosasc" %}{{ pru.marca|number_format(0, ',', '.') }} ptos.
                                          {% endif %}
                                       {% endif %}
                                    </td>
                                    <td>{{ pru.premios }}</td>
                                 </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                     </div>
                  </td></tr>
               {% endfor %}
               </tbody>
            </table>
         {% endfor %}
      </div>
      <div id="compa-view" style="display:none">
         <table class="table table-bordered table-condensed table-striped">
            <thead>
               <tr>
                  <th>Competición</th>
                  <th>Fecha</th>
               </tr>
            </thead>
            <tbody>
               {% for entorno in entornos %}
                  <tr><td class="bg-primary" colspan="2">{{ entorno.entorno }}</td></tr>
                  {% for com in entorno.coms %}
                     <tr>
                        <td class="bg-info">{{ com.nombre }}{% if com.sede != "" %} - {{ com.sede }}{% endif %}
                        <td class="bg-info">{{ com.fecha|date('d/m/Y') }}</td>
                        {% for pru in com.prus %}
                           <td> {{ pru.nombre }}</td>
                           <td>
                              {% if pru.marca is not null and pru.marca != "" %}<strong>
                                 {% if pru.unidades == "segundos" %}{{ (pru.marca / 3600)|round(0, "floor") }}{% set resto = pru.marca - ((pru.marca / 3600)|round(0, "floor") * 3600) %}:{{ "%02d"|format((resto / 60)|round(0, "floor")) }}{% set resto = resto - ((resto / 60)|round(0, "floor") * 60) %}:{{ "%06.3f"|format(resto) }}
                                 {% elseif pru.unidades == "metros" %}{{ pru.marca|number_format(3, ',', '.') }} m.
                                 {% elseif pru.unidades == "puntosdesc" %}{{ pru.marca|number_format(0, ',', '.') }} ptos.
                                 {% elseif pru.unidades == "puntosasc" %}{{ pru.marca|number_format(0, ',', '.') }} ptos.
                                 {% endif %}</strong>
                              {% endif %}
                           </td>
                        {% endfor %}
                     </tr>
                  {% endfor %}
               {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
{% endblock %}

{% block js %}
   {% javascripts '@EasanlesAtletismoBundle/Resources/assets/js/scripts.js' filter='?uglifyjs2' %}
      <script src="{{ asset_url }}"></script>
   {% endjavascripts %}
{% endblock %}



