
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}Lista de atletas{% endblock %}

{% block navbar %}
      <li class="active"><a href="{{ path('listado_atletas') }}">Atletas</a></li>
      <li><a href="{{ path('listado_competiciones') }}">Competiciones</a></li>
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Records <span class="caret"></span></a>
         <ul class="dropdown-menu">
            <li><a href="{{ path('pantalla_records_masc') }}">Records masculinos</a></li>
            <li><a href="{{ path('pantalla_records_fem') }}">Records femeninos</a></li>
         </ul>
      </li>
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informes <span class="caret"></span></a>
         <ul class="dropdown-menu">
            <li><a href="{{ path('pantalla_resultados') }}">Resultados</a></li>
            <li><a class="inactive" href="#">Asistencia a eventos</a></li>
            <li><a class="inactive" href="#">Pagos</a></li>
         </ul>
      </li>
      <li><a href="{{ path('configuracion') }}">Configuración</a></li>
{% endblock %}

{% block breadcrumb %}
  <li><a href="{{ path('homepage') }}">Portada Admin</a></li>
  <li class="active">Atletas</li>
{% endblock %}

   {% block modallabel %}Confirmar borrado{% endblock %}
   {% block modalbody %}
   <p>¿Confirmar borrado del atleta <strong id="data1">***</strong>?</p>
   {% endblock %}
   {% block modalprimary %}<button id="confirmbutton" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Borrar</button>{% endblock %}


{% block container %}   
   <h1 id="container_title" class="row page-header">Listado de atletas</h1>
   <div id="container_header" class="row">
      <div class="col-xs-8 col-sm-6">
         <select class="form-control" onChange="goToUrl('{{ path('listado_atletas') }}' + atlSearchParam(this.value, {% if query is defined %}'{{query}}'{% else %}null{% endif %}))">
            <option value="" {% if cat is not defined %}selected{% endif %}>Todas las categorías</option>
            {% for row in vigentes %}
            <option value="{{ row.id }}" {% if cat is defined %}{% if cat == row.id %}selected{% endif %}{% endif %}>{{ row.nombre }}{% if row.edadMax is not null %} ({{ row.edadMax }}){% endif %}</option>
            {% endfor %}
         </select>
      </div>
      <a class="btn btn-primary" href="{{ path('crear_atleta') }}"><span class="glyphicon glyphicon-plus"></span> Añadir</a>
      <div class="input-group col-xs-6 col-sm-4 pull-right">
         <input id="search-input" type="search" class="form-control" placeholder="Buscar"{% if query is defined %} value="{{query}}"{% endif %} onkeydown="checkEnterKeypress(event)">
         <div class="input-group-btn"><button id="search-button" class="btn btn-default" type="button" onClick="goToUrl('{{ path('listado_atletas') }}' + atlSearchParam({% if cat is defined %}{{cat}}{% else %}null{% endif %}, getQuery()))"><span class="glyphicon glyphicon-search"></span></button></div>
      </div>
   </div>
   
   <table id="primary_table" class="table table-hover table-bordered table-condensed table-striped table-responsive">
      <tbody>
         <tr>
            <th class="hidden-xs">ID</th>
            <th class="visible-xs">Licencias</th>
            <th class="hidden-xs"><abbr title="Licencia FGA" class="visible-xs-block">L. FGA</abbr><div class="hidden-xs">Licencia FGA</div></th>
            <th class="hidden-xs"><abbr title="Licencia XOGADE" class="visible-xs-block">L. XOGADE</abbr><div class="hidden-xs">Licencia XOGADE</div></th>
            <th{% if cat is defined %} class="hidden-xs"{% endif %}><abbr title="Categoría" class="visible-xs-block">Categ.</abbr><div class="hidden-xs">Categoría</div></th>
            <th>Apellidos</th>
            <th>Nombre</th>
            <th class="hidden-xs"><abbr title="Sexo">H/M</abbr></th>
            <th class="hidden-xs"><abbr title="Fecha de nacimiento" class="visible-xs-block">F. nac.</abbr><div class="hidden-xs">Fecha de nacimiento</div></th>
            <th>Nick</th>
            <th><abbr title="Acciones" class="visible-xs-block">Acc.</abbr><div class="hidden-xs">Acciones</div></th>
         </tr>
         {% set catIndex = 0 %}
         {% for atl in atletas %}
         <tr>
         <td class="hidden-xs clickable" onClick="goToUrl('{{ path('ver_atleta', {'id': atl.id}) }}')">{{ atl.id }}</td>
         <td class="visible-xs clickable" onClick="goToUrl('{{ path('ver_atleta', {'id': atl.id}) }}')">
            <small>{% if atl.lfga is null or atl.lfga == "" %}<em class="text-muted">---</em>{% else %}{{ atl.lfga }}{% endif %}</small><br>
            <small>{% if atl.lxogade is null or atl.lxogade == "" %}<em class="text-muted">---</em>{% else %}{{ atl.lxogade }}{% endif %}</small>
         </td>
         <td class="hidden-xs clickable" onClick="goToUrl('{{ path('ver_atleta', {'id': atl.id}) }}')">{% if atl.lfga is null or atl.lfga == "" %} <em class="text-muted">--</em> {% else %} {{ atl.lfga }} {% endif %} </td>
         <td class="hidden-xs clickable" onClick="goToUrl('{{ path('ver_atleta', {'id': atl.id}) }}')">{% if atl.lxogade is null or atl.lxogade == "" %} <em class="text-muted">--</em> {% else %} {{ atl.lxogade }} {% endif %} </td>
         <td class="clickable{% if cat is defined %} hidden-xs{% endif %}" onClick="goToUrl('{{ path('ver_atleta', {'id': atl.id}) }}')">{{ categorias[catIndex].nombre }}</td> {% set catIndex = catIndex + 1 %}
         <td class="clickable" onClick="goToUrl('{{ path('ver_atleta', {'id': atl.id}) }}')">{{ atl.apellidos }}</td>
         <td class="clickable" onClick="goToUrl('{{ path('ver_atleta', {'id': atl.id}) }}')">{{ atl.nombre }}</td>
         <td class="hidden-xs clickable" onClick="goToUrl('{{ path('ver_atleta', {'id': atl.id}) }}')">{% if atl.sexo == false %}<abbr title="Hombre">H</abbr>{% elseif atl.sexo == true %}<abbr title="Mujer">M</abbr>{% endif %}</td>
         <td class="hidden-xs clickable" onClick="goToUrl('{{ path('ver_atleta', {'id': atl.id}) }}')">{{ atl.fnac|date('d/m/Y') }}</td>
         <td class="clickable" onClick="goToUrl('{{ path('ver_atleta', {'id': atl.id}) }}')">{% if atl.nick is null or atl.nick == "" %} <em class="text-muted">--</em> {% else %} {{ atl.nick }} {% endif %} </td>
         <td>
            <div class="btn-group visible-xs-block">
               <button type="button" class="btn btn-xs btn-block btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-horizontal"></span></button>
               <ul class="dropdown-menu pull-right">
                  <li><a href="{{ path('editar_atleta', {'id': atl.id}) }}"><span class="glyphicon glyphicon-edit"></span> Editar</a></li>
                  <li><a class="bg-danger" href="#" onClick="showModal('delATL', '{{ atl.apellidos }}, {{ atl.nombre }}', '{{ path('borrar_atleta', {'i': atl.id}) }}', null)"><div class="text-danger"><span class="glyphicon glyphicon-remove"></span> Borrar</div></a></li>
               </ul>
            </div>
            <div class="hidden-xs">
               <a type="button" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="Editar" href="{{ path('editar_atleta', {'id': atl.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>
               <button type="button" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Borrar" onClick="showModal('delATL', '{{ atl.apellidos }}, {{ atl.nombre }}', '{{ path('borrar_atleta', {'i': atl.id}) }}', null)"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
         </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
   
   
{% endblock %}

{% block js %}
   <script src="{{ asset('bundles/atletismo/js/modals.js') }}"></script>
   <script src="{{ asset('bundles/atletismo/js/scripts.js') }}"></script>
{% endblock %}



