
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}{% if estadoAlta == true %}Listado de atletas{% else %}Listado de bajas{% endif %}{% endblock %}

{% block navbar %}
      {% if app.user.idAtl is not null %}<li><a href="{{ path('mis_competiciones') }}">Mis competiciones</a></li>{% endif %}
      <li class="active"><a href="{{ path('listado_atletas') }}">Atletas</a></li>
      <li><a href="{{ path('listado_competiciones') }}">Competiciones</a></li>
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Records <span class="caret"></span></a>
         <ul class="dropdown-menu">
            {% if app.user.idAtl is not null %}<li><a href="{{ path('users_pantalla_records_propios') }}">Mis records</a></li>{% endif %}
            <li><a href="{{ path('pantalla_records_masc') }}">Records masculinos</a></li>
            <li><a href="{{ path('pantalla_records_fem') }}">Records femeninos</a></li>
         </ul>
      </li>
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informes <span class="caret"></span></a>
         <ul class="dropdown-menu">
            <li><a href="{{ path('pantalla_resultados') }}">Resultados</a></li>
            <li><a href="{{ path('pantalla_asistencia') }}">Asistencia a eventos</a></li>
            <li><a href="{{ path('pagos_pendientes') }}">Pagos pendientes</a></li>
            <li><a href="{{ path('ingresos') }}">Ingresos</a></li>
         </ul>
      </li>
      <li><a href="{{ path('configuracion') }}">Configuración</a></li>
{% endblock %}

{% block breadcrumb %}
  <li><a href="{{ path('homepage_admin') }}">Portada Admin</a></li>
  {% if estadoAlta == true %}
     <li class="active">Atletas</li>
  {% else %}
     <li><a href="{{ path('listado_atletas') }}">Atletas</a></li>
     <li class="active">Bajas</li>
  {% endif %}
{% endblock %}
   
   {% block modallabel %}<div id="dialog-label"></div>{% endblock %}
   {% block modalbody %}<div id="dialog-body"></div>{% endblock %}
   {% block modalprimary %}<span id="dialog-btn"></span>{% endblock %}
   
{% block container %}   
   <h1 id="container_title" class="row page-header">{% if estadoAlta == true %}Listado de atletas{% else %}Listado de bajas{% endif %}</h1>
   <div id="container_header" class="row">
      <button class="updater hidden" onClick="location.reload()"></button>
      <div class="col-xs-6 col-sm-4">
         <select class="form-control" onChange="goToUrl('{% if estadoAlta == true %}{{ path('listado_atletas') }}{% else %}{{ path('listado_atletas_bajas') }}{% endif %}' + atlSearchParam(this.value, {% if query is defined %}'{{query}}'{% else %}null{% endif %}, null))">
            <option value="" {% if cat is not defined %}selected{% endif %}>Todas las categorías</option>
            {% for row in vigentes %}
            <option value="{{ row.id }}" {% if cat is defined %}{% if cat == row.id %}selected{% endif %}{% endif %}>{{ row.nombre }}{% if row.edadMax is not null %} ({{ row.edadMax }}){% endif %}</option>
            {% endfor %}
         </select>
      </div>
      {% if estadoAlta == true %}
         <a class="btn btn-primary" href="{{ path('crear_atleta') }}"><span class="glyphicon glyphicon-plus"></span> Añadir</a>
         <a class="btn btn-default" href="{{ path('listado_atletas_bajas') }}"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> <span class="hidden-xs">Ver bajas</span><span class="visible-xs-inline">Bajas</span></a>
      {% else %}
         <a class="btn btn-default" href="{{ path('listado_atletas') }}"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Volver</a>
      {% endif %}
      <div class="input-group col-xs-11 col-sm-4 pull-right">
         <input id="search-input" type="search" class="form-control" placeholder="Buscar"{% if query is defined %} value="{{query}}"{% endif %} onkeydown="checkEnterKeypress(event)">
         <div class="input-group-btn"><button id="search-button" class="btn btn-default" type="button" onClick="goToUrl('{% if estadoAlta == true %}{{ path('listado_atletas') }}{% else %}{{ path('listado_atletas_bajas') }}{% endif %}' + atlSearchParam({% if cat is defined %}{{cat}}{% else %}null{% endif %}, getQuery(), null))"><span class="glyphicon glyphicon-search"></span></button></div>
      </div>
   </div>
   
   <table id="primary_table" class="table table-hover table-bordered table-condensed table-striped table-responsive">
      <tbody>
         <tr>
            <th class="hidden-xs">ID</th>
            <th class="visible-xs">Licencias</th>
            <th class="hidden-xs"><abbr title="Licencia FGA" class="visible-xs-block">L. FGA</abbr><div class="hidden-xs">Licencia FGA</div></th>
            <th class="hidden-xs"><abbr title="Licencia XOGADE" class="visible-xs-block">L. XOGADE</abbr><div class="hidden-xs">Licencia XOGADE</div></th>
            <th{% if cat is defined %} class="hidden-xs"{% endif %}><abbr title="Categoría" class="visible-xs-block">Categ.</abbr><div class="hidden-xs">Categoría</div></th>
            <th>Apellidos</th>
            <th>Nombre</th>
            <th class="hidden-xs"><abbr title="Sexo">H/M</abbr></th>
            <th class="hidden-xs"><abbr title="Fecha de nacimiento" class="visible-xs-block">F. nac.</abbr><div class="hidden-xs">Fecha de nacimiento</div></th>
            <th class="hidden-xs">Nick</th>
            <th><abbr title="Acciones" class="visible-xs-block">Acc.</abbr><div class="hidden-xs">Acciones</div></th>
         </tr>
         {% set catIndex = 0 %}
         {% for atl in atletas %}
         <tr{% if atl.nombreUsu is not null %}{% if atl.rol == "coordinador" %} class="text-info" style="font-weight: bold;"{% endif %}{% endif %}>
         <td class="hidden-xs clickable" onClick="goToUrl('{{ path('ver_atleta', {'id': atl.id}) }}')">{{ atl.id }}</td>
         <td class="visible-xs clickable" onClick="goToUrl('{{ path('ver_atleta', {'id': atl.id}) }}')">
            <small class="licencia">{% if atl.lfga is null or atl.lfga == "" %}<em class="text-muted">---</em>{% else %}{{ atl.lfga }}{% endif %}</small><br>
            <small class="licencia">{% if atl.lxogade is null or atl.lxogade == "" %}<em class="text-muted">---</em>{% else %}{{ atl.lxogade }}{% endif %}</small>
         </td>
         <td class="hidden-xs clickable" onClick="goToUrl('{{ path('ver_atleta', {'id': atl.id}) }}')">{% if atl.lfga is null or atl.lfga == "" %} <em class="text-muted">--</em> {% else %} {{ atl.lfga }} {% endif %} </td>
         <td class="hidden-xs clickable" onClick="goToUrl('{{ path('ver_atleta', {'id': atl.id}) }}')">{% if atl.lxogade is null or atl.lxogade == "" %} <em class="text-muted">--</em> {% else %} {{ atl.lxogade }} {% endif %} </td>
         <td class="clickable{% if cat is defined %} hidden-xs{% endif %}" onClick="goToUrl('{{ path('ver_atleta', {'id': atl.id}) }}')">{% if categorias[catIndex] is not null %}{{ categorias[catIndex].nombre }}{% endif %}</td> {% set catIndex = catIndex + 1 %}
         <td class="clickable" onClick="goToUrl('{{ path('ver_atleta', {'id': atl.id}) }}')">{{ atl.apellidos }}</td>
         <td class="clickable" onClick="goToUrl('{{ path('ver_atleta', {'id': atl.id}) }}')">{{ atl.nombre }}</td>
         <td class="hidden-xs clickable" onClick="goToUrl('{{ path('ver_atleta', {'id': atl.id}) }}')">{% if atl.sexo == false %}<abbr title="Hombre">H</abbr>{% elseif atl.sexo == true %}<abbr title="Mujer">M</abbr>{% endif %}</td>
         <td class="hidden-xs clickable" onClick="goToUrl('{{ path('ver_atleta', {'id': atl.id}) }}')">{{ atl.fnac|date('d/m/Y') }}</td>
         <td class="hidden-xs clickable" onClick="goToUrl('{{ path('ver_atleta', {'id': atl.id}) }}')">{% if atl.nick is null or atl.nick == "" %} <em class="text-muted">--</em> {% else %} {{ atl.nick }} {% endif %} </td>
         <td>
            <div class="btn-group visible-xs-block">
               <button type="button" class="btn btn-xs btn-block btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-horizontal"></span></button>
               <ul class="dropdown-menu pull-right">
                  <li><a href="{{ path('historial_atleta', {'id': atl.id}) }}"><span class="glyphicon glyphicon-time"></span> Historial</a></li>
                  <li><a href="{{ path('editar_atleta', {'id': atl.id}) }}"><span class="glyphicon glyphicon-pencil"></span> Editar</a></li>
                  {% if estadoAlta == true %}
                     <li><a class="bg-danger" href="#" onClick="showModal('estATL', '{{ atl.apellidos }}, {{ atl.nombre }}', '{{ path('estado_atleta', {'id': atl.id, 'op': "baja"}) }}', 'baja')"><div class="text-danger"><span class="glyphicon glyphicon-remove-sign"></span> Dar de baja</div></a></li>
                  {% else %}
                     <li><a href="#" onClick="showModal('estATL', '{{ atl.apellidos }}, {{ atl.nombre }}', '{{ path('estado_atleta', {'id': atl.id, 'op': "alta"}) }}', 'alta')"><span class="glyphicon glyphicon-ok-sign"></span> Dar de alta</a></li>
                  {% endif %}
                  <li><a class="bg-danger" href="#" onClick="showModal('delATL', '{{ atl.apellidos }}, {{ atl.nombre }}', '{{ path('borrar_atleta', {'i': atl.id}) }}', {% if atl.nombreUsu is not null %}'{{ atl.nombreUsu }}'{% else %}null{% endif %})"><div class="text-danger"><span class="glyphicon glyphicon-remove"></span> Borrar</div></a></li>
               </ul>
            </div>
            <div class="hidden-xs">
               <a type="button" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="Historial" href="{{ path('historial_atleta', {'id': atl.id}) }}"><span class="glyphicon glyphicon-time"></span></a>
               <a type="button" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="Editar" href="{{ path('editar_atleta', {'id': atl.id}) }}"><span class="glyphicon glyphicon-pencil"></span></a>
               {% if estadoAlta == true %}
                  <button type="button" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Dar de baja" onClick="showModal('estATL', '{{ atl.apellidos }}, {{ atl.nombre }}', '{{ path('estado_atleta', {'id': atl.id, 'op': "baja"}) }}', 'baja')"><span class="glyphicon glyphicon-remove-sign"></span></button>
               {% else %}
                  <button type="button" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="Dar de alta" onClick="showModal('estATL', '{{ atl.apellidos }}, {{ atl.nombre }}', '{{ path('estado_atleta', {'id': atl.id, 'op': "alta"}) }}', 'alta')"><span class="glyphicon glyphicon-ok-sign"></span></button>
               {% endif %}
               <button type="button" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Borrar" onClick="showModal('delATL', '{{ atl.apellidos }}, {{ atl.nombre }}', '{{ path('borrar_atleta', {'i': atl.id}) }}', {% if atl.nombreUsu is not null %}'{{ atl.nombreUsu }}'{% else %}null{% endif %})"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
         </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
<nav>
  <ul class="pager">
     {% if from == 0 %}
     <li class="previous disabled"><a href="#">Inicio</a></li>
     <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Anterior</a></li>
     {% else %}
     <li class="previous"><a href="#" onClick="goToUrl('{% if estadoAlta == true %}{{ path('listado_atletas') }}{% else %}{{ path('listado_atletas_bajas') }}{% endif %}' + atlSearchParam({% if cat is defined %}{{cat}}{% else %}null{% endif %}, getQuery(), 0))">Inicio</a></li>
     <li class="previous"><a href="#" onClick="goToUrl('{% if estadoAlta == true %}{{ path('listado_atletas') }}{% else %}{{ path('listado_atletas_bajas') }}{% endif %}' + atlSearchParam({% if cat is defined %}{{cat}}{% else %}null{% endif %}, getQuery(), {{ from - numResultados }}))"><span aria-hidden="true">&larr;</span> Anterior</a></li>
     {% endif %}
     {% if atletas|length < numResultados %}
        <li class="next disabled"><a href="#">Siguiente <span aria-hidden="true">&rarr;</span></a></li>
     {% else %}
        <li class="next"><a href="#" onClick="goToUrl('{% if estadoAlta == true %}{{ path('listado_atletas') }}{% else %}{{ path('listado_atletas_bajas') }}{% endif %}' + atlSearchParam({% if cat is defined %}{{cat}}{% else %}null{% endif %}, getQuery(), {{ from + numResultados }}))">Siguiente <span aria-hidden="true">&rarr;</span></a></li>
     {% endif %}
     {% if numResultados > 0 and from is divisible by (numResultados) %}
     <p class="text-center text-info">Página {{ (from / numResultados) + 1 }}</p>
     {% else %}
     <p class="text-center text-info">Mostrando desde el resultado {{ from + 1 }}</p>
     {% endif %}
  </ul>
</nav>
   
{% endblock %}

{% block js %}
   {% javascripts
      '@EasanlesAtletismoBundle/Resources/assets/js/modals.js' 
      '@EasanlesAtletismoBundle/Resources/assets/js/scripts.js' filter='?uglifyjs2' %}
      <script src="{{ asset_url }}"></script>
   {% endjavascripts %}
{% endblock %}



