
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}Atleta: {% if atl.nick is not null %}{{ atl.nick }}{% else %}{{atl.apellidos}}, {{atl.nombre}}{% endif %}{% endblock %}

{% block navbar %}
      {% if app.user.idAtl is not null %}<li><a href="{{ path('mis_competiciones') }}">Mis competiciones</a></li>{% endif %}
      <li class="active"><a href="{{ path('listado_atletas') }}">Atletas</a></li>
      <li><a href="{{ path('listado_competiciones') }}">Competiciones</a></li>
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Records <span class="caret"></span></a>
         <ul class="dropdown-menu">
            {% if app.user.idAtl is not null %}<li><a href="{{ path('users_pantalla_records_propios') }}">Mis records</a></li>{% endif %}
            <li><a href="{{ path('pantalla_records_masc') }}">Records masculinos</a></li>
            <li><a href="{{ path('pantalla_records_fem') }}">Records femeninos</a></li>
         </ul>
      </li>
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informes <span class="caret"></span></a>
         <ul class="dropdown-menu">
            <li><a href="{{ path('pantalla_resultados') }}">Resultados</a></li>
            <li><a href="{{ path('pantalla_asistencia') }}">Asistencia a eventos</a></li>
            <li><a href="{{ path('pantalla_cuotas') }}">Cuotas</a></li>
            <li><a href="{{ path('pagos_pendientes') }}">Pagos pendientes</a></li>
            <li><a href="{{ path('ingresos') }}">Ingresos</a></li>
         </ul>
      </li>
      <li><a href="{{ path('configuracion') }}">Configuración</a></li>
{% endblock %}

{% block breadcrumb %}
  <li><a href="{{ path('homepage_admin') }}">Portada Admin</a></li>
  {% if atl.esAlta == true %}
     <li><a href="{{ path('listado_atletas') }}">Atletas</a></li>
  {% else %}
     <li><a href="{{ path('listado_atletas') }}">Atletas</a></li>
     <li><a href="{{ path('listado_atletas_bajas') }}">Atletas de baja</a></li>
  {% endif %}
  <li class="active">{% if atl.nick is not null %}{{ atl.nick }}{% else %}{{ atl.apellidos }}, {{ atl.nombre }}{% endif %}</li>
{% endblock %}

   {% block modallabel %}Confirmar borrado{% endblock %}
   {% block modalbody %}
   <p>¿Confirmar borrado del atleta <strong id="data1">***</strong>?</p>
   <p id="cascade-del-usu-prompt"><input id="cascade-del-usu" type="checkbox" checked><label for="cascade-del-usu" style="font-weight: normal; margin-left: 0.5em"> Borrar también el usuario asociado "<span id="data3"></span>"</span></p>
   {% endblock %}
   {% block modalprimary %}<button id="confirmbutton" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Borrar</button>{% endblock %}

{% block container %}
   <h1 id="container_title" class="row page-header">Atleta: <small>{% if atl.nick is not null %}{{ atl.nick }}{% else %}{{atl.apellidos}}, {{atl.nombre}}{% endif %}</small></h1>
    
   <div class="row">
      <div class="col-xs-12 col-sm-9 col-sm-push-3">
         <table class="table table-responsive hidden-xs">
            <tbody>
               <tr><td><strong>Licencia FGA:</strong></td><td colspan="2">{{ atl.lfga }}</td><td><strong>Licencia XOGADE:</strong></td><td colspan="2">{{ atl.lxogade }}</td></tr>
               <tr><td><strong>Apellidos:</strong></td><td colspan="2">{{ atl.apellidos }}</td><td><strong>Nombre:</strong></td><td colspan="2">{{ atl.nombre }}</td></tr>
               <tr><td><strong>DNI:</strong></td><td colspan="2">{{ atl.dni }}</td><td><strong>Nick:</strong></td><td colspan="2">{{ atl.nick }}</td></tr>
               <tr><td><strong>Fecha de nacimiento:</strong></td><td colspan="2">{{ atl.fnac|date('d/m/Y') }} <em>({{ edad }} años)</em></td><td><strong>Categoría:</strong></td><td colspan="2">{% if categoria is not null %}{{ categoria.nombre }}{% endif %}</td></tr>
               <tr><td><strong>Nacionalidad:</strong></td><td colspan="2">{{ atl.nacion }}</td><td><strong>Sexo:</strong></td><td colspan="2">{% if atl.sexo == false %}Hombre{% elseif atl.sexo == true %}Mujer{% endif %}</td></tr>
               <tr><td><strong>Tipo de atleta:</strong></td><td colspan="2">{{ atl.tipo }}</td><td><strong>Estado de alta:</strong></td><td colspan="2">{% if atl.esalta == false %}<strong class="text-danger">BAJA</strong>{% elseif atl.esalta == true %}ALTA{% endif %}</td></tr>
               <tr><td><strong>Dirección:</strong></td><td colspan="3">{{ atl.direccion }}</td><td><abbr title="Código Postal"><strong>CP:</strong></abbr></td><td>{{ atl.cp }}</td></tr>
               <tr><td><strong>Localidad:</strong></td><td>{{ atl.localidad }}</td><td><strong>Provincia:</strong></td><td>{{ atl.provincia }}</td><td><strong>País:</strong></td><td>{{ atl.pais }}</td></tr>
               <tr><td><strong>Email de contacto:</strong></td><td colspan="2"><a href="mailto:{{ atl.email }}">{{ atl.email }}</a></td><td><strong>Usuario:</strong></td><td colspan="2">{% if atl.nombreUsu == null %}<em class="text-muted">Ninguno</em>{% else %}{{ atl.nombreUsu.nombre }}{% if atl.nombreUsu.rol == "coordinador" %} <strong class="text-info">Coordinador</strong>{% endif %}{% endif %}</td></tr>
               <tr><td><strong>Url 1:</strong></td><td colspan="2"><a href="{{ atl.url1 }}" target="_blank">{{ atl.url1 }}</a></td><td><strong>Url 2:</strong></td><td colspan="2"><a href="{{ atl.url2 }}" target="_blank">{{ atl.url2 }}</a></td></tr>
               <tr><td colspan="6"><strong>Notas:</strong></td></tr>
               <tr><td colspan="6">{{ atl.notas|nl2br|converturls }}</td></tr>
            </tbody>
         </table>
         <table class="table table-responsive visible-xs">
            <tbody>
               <tr><td><strong>FGA:</strong></td><td><small>{{ atl.lfga }}</small></td><td><strong>XOGADE:</strong></td><td><small>{{ atl.lxogade }}</small></td></tr>
               <tr><td><strong>Apellidos:</strong></td><td colspan="3">{{ atl.apellidos }}</td></tr>
               <tr><td><strong>Nombre:</strong></td><td colspan="3">{{ atl.nombre }}</td></tr>
               <tr><td><strong>DNI:</strong></td><td colspan="3">{{ atl.dni }}</td></tr>
               <tr><td><strong>Nick:</strong></td><td colspan="3">{{ atl.nick }}</td></tr>
               <tr><td><abbr title="Fecha de nacimiento"><strong>F. nac.:</strong></abbr></td><td colspan="3">{{ atl.fnac|date('d/m/Y') }} <em>({{ edad }} años)</em></td></tr>
               <tr><td><strong>Categoría:</strong></td><td>{% if categoria is not null %}{{ categoria.nombre }}{% endif %}</td><td><abbr title="Nacionalidad"><strong>Nacion.:</strong></abbr></td><td>{{ atl.nacion }}</td></tr>
               <tr><td><strong>Sexo:</strong></td><td colspan="3">{% if atl.sexo == false %}Hombre{% elseif atl.sexo == true %}Mujer{% endif %}</td></tr>
               <tr><td><strong>Tipo:</strong></td><td>{{ atl.tipo }}</td><td><strong>Estado:</strong></td><td>{% if atl.esalta == false %}<strong class="text-danger">BAJA</strong>{% elseif atl.esalta == true %}ALTA{% endif %}</td></tr>
               <tr><td><strong>Dirección:</strong></td><td colspan="3">{{ atl.direccion }}</td></tr>
               <tr><td><abbr title="Código Postal"><strong>CP:</strong></abbr></td><td>{{ atl.cp }}</td><td><strong>Localidad:</strong></td><td>{{ atl.localidad }}</td></tr>
               <tr><td><strong>Provincia:</strong></td><td>{{ atl.provincia }}</td><td><strong>País:</strong></td><td>{{ atl.pais }}</td></tr>
               <tr><td><strong>Email:</strong></td><td><a href="mailto:{{ atl.email }}">{{ atl.email }}</a></td><td><strong>Usuario:</strong></td><td>{% if atl.nombreUsu == null %}<em class="text-muted">Ninguno</em>{% else %}{{ atl.nombreUsu.nombre }}{% if atl.nombreUsu.rol == "coordinador" %} <strong class="text-info">Coordinador</strong>{% endif %}{% endif %}</td></tr>
               {% if atl.url1 is not null and atl.url1 != ""%}<tr><td><strong>Url 1:</strong></td><td colspan="3"><a href="{{ atl.url1 }}" target="_blank">{{ atl.url1 }}</a></td></tr>{% endif %}
               {% if atl.url2 is not null and atl.url2 != ""%}<tr><td><strong>Url 2:</strong></td><td colspan="3"><a href="{{ atl.url2 }}" target="_blank">{{ atl.url2 }}</a></td></tr>{% endif %}
               <tr><td colspan="4"><strong>Notas:</strong></td></tr>
               <tr><td colspan="4">{{ atl.notas|nl2br|converturls }}</td></tr>
            </tbody>
         </table>
         <a type="button" class="btn btn-m btn-default hidden-xs" href="javascript:history.back()"><span class="glyphicon glyphicon-menu-left"></span> Volver</a>
         <a type="button" class="btn btn-m btn-default" href="{{ path('historial_atleta', {'id': atl.id}) }}"><span class="glyphicon glyphicon-time"></span> Historial</a>
         <a type="button" class="btn btn-m btn-default" href="{{ path('editar_atleta', {'id': atl.id}) }}"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
         <button type="button" class="btn btn-m btn-danger pull-right" onClick="showModal('delATL', '{{ atl.apellidos }}, {{ atl.nombre }}', '{{ path('borrar_atleta', {'i': atl.id}) }}', {% if atl.nombreUsu is not null %}'{{ atl.nombreUsu.nombre }}'{% else %}null{% endif %})"><span class="glyphicon glyphicon-remove"></span> Borrar</button>
      </div>
      <div class="col-xs-12 col-sm-3 col-sm-pull-9">
         {% if atl.foto is not null %}
         <a href="{{ vich_uploader_asset(atl, 'fotoFile') }}"><img src="{{ vich_uploader_asset(atl, 'fotoFile') }}" alt="{{ atl.nombre }} {{ atl.apellidos }}" class="img-responsive thumbnail"/></a>
         {% else %}
            {% image '@EasanlesAtletismoBundle/Resources/assets/img/sinfoto.jpg' %}
            <img src="{{ asset_url }}" alt="{{ atl.nombre }} {{ atl.apellidos }}" class="img-responsive thumbnail"/>
            {% endimage %}
         {% endif %}
      </div>
   </div>
   
{% endblock %}

{% block js %}
   {% javascripts
      '@EasanlesAtletismoBundle/Resources/assets/js/scripts.js' 
      '@EasanlesAtletismoBundle/Resources/assets/js/modals.js' %}
      <script src="{{ asset_url }}"></script>
   {% endjavascripts %}

{% endblock %}



