
{% extends '::base.html.twig' %}

{% block title %}Hola {{ name }}!{% endblock %}

{% block css %}
   {#
   {% stylesheets 'atletismo/css/*' filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ index.css }}" />
   {% endstylesheets %}
   #}
   {# {% stylesheets '@EasanlesAtletismoBundle/Resources/assets/css/index.css' %}{% endstylesheets %}#}
   <link rel="stylesheet" href="{{ asset('bundles/atletismo/css/index.css') }}" />
   
{% endblock%}

{% block body %}
{# Mostrar contenido de una variable {{ dump() }} #}

   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./"><span class="glyphicon glyphicon-home"></span> Atletismo</a>
         </div>
         <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
               {% block navbar %}
               <li><a class="inactive">Atletas</a></li>
               <li><a href="./competiciones">Competiciones</a></li>
               <li><a class="inactive">Records</a></li>
               <li><a class="inactive">Noticias</a></li>
               <li><a class="inactive">Informes</a></li>
               <li><a href="./configuracion">Configuración</a></li>
               {% endblock %}
            </ul>
            <ul class="navbar-text pull-right">
               Bienvenido, <a class="navbar-link inactive">Admin</a>
            </ul>
         </div><!--/.nav-collapse -->
      </div>
   </nav>

    <div class="container">
       {% block breadcrumb %}
       <ol class="breadcrumb">
          <li class="active">Portada Admin</li>
       </ol>
       {% endblock %}
       {% block container %}
       <div class="container-fluid">
          <h1>Hola {{ name }}!</h1>
          <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
       </div>

       {% endblock %}
    </div><!-- /.container -->
{% endblock %}

{% block js %}

{% endblock %}



