
   {% if exception is defined %}
   <div class="alert alert-danger alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <strong>Error: </strong><span>{{ exception }}</span></div>
   {% endif %}

   <div id="data_form" class="row">

{% if mode == "new" %}
{{ form_start(form, {'action': path('crear_categoria')}) }}
{% elseif mode == "edit" %}
{{ form_start(form, {'action': path('editar_categoria', {'id': id})}) }}
{% endif %}

    {{ form_errors(form) }}
    
    <div>
       <div class="form_row col-xs-4">
          {{ form_row(form.nombre) }}
       </div>
       <div class="form_row col-xs-2">
          {{ form_row(form.edadMax) }}
       </div>
       <div class="form_row col-xs-3">
          {{ form_row(form.tIniVal) }}
       </div>
       <div class="form_row col-xs-3">
          {{ form_row(form.tFinVal) }}
       </div>
    </div>
    
    {{ form_rest(form) }}
 
{{ form_end(form) }}
   </div>
