
   {% if exception is defined %}
   <div class="alert alert-danger alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span class="glyphicon glyphicon-exclamation-sign"></span> {{ exception }}</div>
   {% endif %}

   <div id="data_form" class="row">

{{ form_start(form, {'action': path('caducar_categoria', {"i": idCat})}) }}

    {{ form_errors(form) }}
    
    <div class="col-xs-offset-1 col-xs-10">
       <span style="margin-right: 1em; white-space: nowrap;"><label>Categoría:</label> {{ form.vars.value.nombre }}</span>
       <span style="margin-right: 1em; white-space: nowrap;"><label>Temporada inicial:</label> {{ form.vars.value.tIniVal }}/{{ (form.vars.value.tIniVal + 1)|slice(2, 2) }}</span> 
    </div> 
    <div class="form_row col-xs-offset-1 col-xs-10">
       {{ form_row(form.tFinVal) }}
    </div>
    
    {{ form_rest(form) }}
 
{{ form_end(form) }}
   </div>
