
{% if mode == "edit" %}
<div class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> Solo se recomienda editar una categoría en caso de error en algun dato del formulario.<br>
Para realizar un cambio en una categoría de una temporada a otra, primero marca como caducada la anterior y luego crea una nueva.</div>
{% endif %}

   {% if exception is defined %}
   <div class="alert alert-danger alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span>{{ exception }}</span></div>
   {% endif %}

   <div id="data_form" class="row">

{% if mode == "new" %}
{{ form_start(form, {'action': path('crear_categoria')}) }}
{% elseif mode == "edit" %}
{{ form_start(form, {'action': path('editar_categoria', {'id': id})}) }}
{% endif %}

    {{ form_errors(form) }}
    
    <div>
       <div class="form_row col-xs-6">
          {{ form_row(form.nombre) }}
       </div>
       <div class="form_row col-xs-3">
          {{ form_row(form.edadMax) }}
       </div>
       <div class="form_row col-xs-3">
          {{ form_row(form.tIniVal) }}
       </div>
    </div>
    
    {{ form_rest(form) }}
 
{{ form_end(form) }}
   </div>
