
   {% if exception is defined %}
   <div class="alert alert-danger alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span>{{ exception }}</span></div>
   {% endif %}

   <div id="data_form" class="row">

{{ form_start(form, {'action': path('caducar_categoria', {"i": idCat})}) }}

    {{ form_errors(form) }}
    
    <div class="form_row col-xs-offset-2 col-xs-8">
       {{ form_row(form.tFinVal) }}
    </div>
    
    {{ form_rest(form) }}
 
{{ form_end(form) }}
   </div>
