               <tbody>
                  <tr>
                     <th>Id</th>
                     <th>Nombre</th>
                     <th><abbr title="Edad máxima" class="visible-xs-block">E. máx.</abbr><div class="hidden-xs">Edad máxima</div></th>
                     <th title="Temporada de inicio de validez"><abbr title="Temporada de inicio de validez" class="visible-xs-block">T. inicial</abbr><div class="hidden-xs">Temporada inicial</div></th>
                     {% if outdated == 'true' %}<th title="Temporada de final de validez"><abbr title="Temporada de final de validez" class="visible-xs-block">T. final</abbr><div class="hidden-xs">Temporada final</div></th>{% endif %}
                     <th><abbr title="Acciones" class="visible-xs-block">Acc.</abbr><div class="hidden-xs">Acciones</div></th>
                  </tr>
                  {% for cat in categorias %}
                  <tr{% if cat.tFinVal is not null %} class="danger"{% endif %}>
                     <td>{{ cat.id }}</td>
                     <td>{{ cat.nombre }}</td>
                     <td>{{ cat.edadMax }}</td>
                     <td>{{ cat.tIniVal }}/{{ (cat.tIniVal + 1)|slice(2, 2) }}</td>
                     {% if outdated == 'true' %}
                        {% if cat.tFinVal is null %}<td><em>Vigente</em></td>
                           {% else %}<td class="text-danger">{{ cat.tFinVal }}/{{ (cat.tFinVal + 1)|slice(2, 2) }}</td>
                        {% endif %}
                     {% endif %}
                     <td>
                        <div class="btn-group visible-xs-block">
                           <button type="button" class="btn btn-xs btn-block btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-horizontal" aria-label="Acciones"></span></button>
                           <ul class="dropdown-menu pull-right">
                              <li><a href="#" onClick="showModal('ediCAT', '{{ cat.nombre }}', {{ cat.id }}, null)"><span class="glyphicon glyphicon-edit"></span> Editar</a></li>
                              <li><a class="bg-danger" href="#" onClick="showModal('cadCAT', '{{ cat.nombre }}', {{ cat.id }}, null)"><div class="text-danger"><span class="glyphicon glyphicon-remove-circle"></span> Marcar como caducado</div></a></li>
                           </ul>
                        </div>
                        <div class="hidden-xs">
                           <button type="button" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="Editar" onClick="showModal('ediCAT', '{{ cat.nombre }}', {{ cat.id }}, null)"><span class="glyphicon glyphicon-edit"></span></button>
                           <button type="button" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Marcar como caducado" onClick="showModal('cadCAT', '{{ cat.nombre }}', {{ cat.id }}, null)"><span class="glyphicon glyphicon-remove-circle"></span></button>
                        </div>
                     </td>
                  </tr>
                  {% endfor %}
               </tbody>

