
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}Configuración de la aplicación{% endblock %}

{% block onload %}toggleContent('usu'){% endblock %}

{% block navbar %}
      <li><a href="{{ path('listado_atletas') }}">Atletas</a></li>
      <li><a href="{{ path('listado_competiciones') }}">Competiciones</a></li>
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Records <span class="caret"></span></a>
         <ul class="dropdown-menu">
            <li><a href="{{ path('pantalla_records_masc') }}">Records masculinos</a></li>
            <li><a href="{{ path('pantalla_records_fem') }}">Records femeninos</a></li>
         </ul>
      </li>
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informes <span class="caret"></span></a>
         <ul class="dropdown-menu">
            <li><a href="{{ path('pantalla_resultados') }}">Resultados</a></li>
            <li><a class="inactive" href="#">Asistencia a eventos</a></li>
            <li><a class="inactive" href="#">Pagos</a></li>
         </ul>
      </li>
      <li class="active"><a href="{{ path('configuracion') }}">Configuración</a></li>
{% endblock %}

{% block breadcrumb %}
  <li><a href="{{ path('homepage') }}">Portada Admin</a></li>
  <li class="active">Configuración</li>
{% endblock %}
   
   {% block modallabel %}<div id="dialog-label"></div>{% endblock %}
   {% block modalbody %}<div id="dialog-body"></div>{% endblock %}
   {% block modalprimary %}<span id="dialog-btn"></span>{% endblock %}
   
{% block container %}
   <h1 id="container_title" class="row page-header">Configuración de la aplicación</h1>
   <ul id="config-nav" class="nav nav-tabs">
      <li id="navtab-usu" role="presentation" onClick="toggleContent('usu')"><a class="clickable">Usuarios</a></li>
      <li id="navtab-tp" role="presentation" onClick="toggleContent('tp')"><a class="clickable">Tipos de pruebas</a></li>
      <li id="navtab-cat" role="presentation" onClick="toggleContent('cat')"><a class="clickable">Categorías</a></li>
      <li id="navtab-aj" role="presentation" onClick="toggleContent('aj')"><a class="clickable">Ajustes</a></li>
      <li id="navtab-comm" role="presentation" onClick="toggleContent('comm')"><a class="clickable">Comandos</a></li>
   </ul>
   <div class="config-content">
      <div id="tabcontent-usu" class="tabcontent" style="display:none">
         <div class="row">
            <button type="button" class="btn btn-primary" onClick="showModal('newUSU', null, null, null)"><span class="glyphicon glyphicon-plus"></span> Añadir</button>
            <button class="btn btn-default updater hidden" onClick="loadViews('usu')"><span class="glyphicon glyphicon-refresh spinning"></span></button>
            <div class="input-group col-xs-5 col-sm-4 pull-right">
               <input disabled id="search-input" type="search" class="form-control" placeholder="Buscar"{% if query is defined %} value="{{query}}"{% endif %} onkeydown="checkEnterKeypress(event)">
               <div class="input-group-btn"><button disabled id="search-button" class="btn btn-default" type="button" onClick="usuSearch()"><span class="glyphicon glyphicon-search"></span></button></div>
            </div>
            <div class="col-xs-4 col-sm-3 pull-right">
               <select class="form-control">
                  <option>Todos</option>
               </select>
            </div>
         </div>
         <div class="row">
            <table id="usu-table" class="table table-hover table-bordered table-condensed table-striped table-responsive"></table>
         </div>
      </div>
   
      <div id="tabcontent-tp" class="tabcontent" style="display:none">
         <div class="row">
            <button type="button" class="btn btn-primary" onClick="showModal('newTPR', null, null, null)"><span class="glyphicon glyphicon-plus"></span> Añadir</button>
            <button class="btn btn-default updater hidden" onClick="loadViews('tp')"><span class="glyphicon glyphicon-refresh spinning"></span></button>
         </div>
         <div class="row">
            <table id="tpr-table" class="table table-hover table-bordered table-condensed table-striped table-responsive"></table>
         </div>
      </div>
      
      <div id="tabcontent-cat" class="tabcontent" style="display:none">
         <div class="row">
            <button type="button" class="btn btn-primary" onClick="showModal('newCAT', null, null, null)"><span class="glyphicon glyphicon-plus"></span> Añadir</button>
            <button class="btn btn-default updater hidden" onClick="loadViews('cat')"><span class="glyphicon glyphicon-refresh spinning"></span></button>
            <label class="checkbox-inline pull-right"><input id="cat-showOutdated" type="checkbox" onClick="loadViews('cat')"> Mostrar categorías caducadas</label>
         </div>
         <div class="row">
            <table id="cat-table" class="table table-hover table-bordered table-condensed table-striped table-responsive">
            </table>
         </div>
      </div>
      
      <div id="tabcontent-aj" class="tabcontent" style="display:none">
         {{ ajustesContent|raw }}
      </div>
      
      <div id="tabcontent-comm" class="tabcontent" style="display:none">
         <div class="row">
            <button id="btn_poblarbd" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="INSERT INTO ..."><span class="glyphicon glyphicon-save"></span> Poblar BD</button>
            <button id="btn_borrarbd" type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="DELETE FROM ..."><span class="glyphicon glyphicon-remove-circle"></span> Borrar datos BD</button>
            <button id="btn_rehacerbd" type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="doctrine:database:drop --force&#10;doctrine:database:create&#10;doctrine:schema:update --force&#10;doctrine:fixtures:load --append&#10;INSERT (valores por defecto)"><span class="glyphicon glyphicon-refresh"></span> Rehacer BD</button>
            <button id="btn_limpiarcache" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="cache:clear&#10;cache:clear --env=prod"><span class="glyphicon glyphicon-trash"></span> Limpiar cache</button>
            <button id="btn_asseticdump" type="button" class="btn btn-default inactive" data-toggle="tooltip" data-placement="bottom" title="assetic:dump"><span class="glyphicon glyphicon-refresh"></span> Assetic dump</button>
         
            <div id="alert-div-comm"> </div>
         </div>
      </div>
   </div>

   
{% endblock %}

{% block js %}
   <script src="{{ asset('bundles/atletismo/js/modals.js') }}"></script>
   <script src="{{ asset('bundles/atletismo/js/scripts.js') }}"></script>
   <script src="{{ asset('bundles/atletismo/js/adminscripts.js') }}"></script>
{% endblock %}



