
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}Inscripción en {{ com.nombre }} ({{ com.temp }}/{{ (com.temp + 1)|slice(2, 2) }}){% endblock %}

{% block navbar %}
      {% if app.user is not null and app.user.idAtl is not null %}<li class="active"><a href="{{ path('mis_competiciones') }}">Mis competiciones</a></li>{% endif %}
      {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li><a href="{{ path('listado_atletas') }}">Atletas</a></li>{% endif %}
      {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li><a href="{{ path('listado_competiciones') }}">Competiciones</a></li>{% endif %}
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Records <span class="caret"></span></a>
         <ul class="dropdown-menu">
            {% if app.user is not null and app.user.idAtl is not null %}<li><a href="{{ path('users_pantalla_records_propios') }}">Mis records</a></li>{% endif %}
            {% if app.user is not null and is_granted('ROLE_ADMIN') %}
               <li><a href="{{ path('pantalla_records_masc') }}">Records masculinos</a></li>
               <li><a href="{{ path('pantalla_records_fem') }}">Records femeninos</a></li>
            {% else %}
               <li><a href="{{ path('users_pantalla_records_masc') }}">Records masculinos</a></li>
               <li><a href="{{ path('users_pantalla_records_fem') }}">Records femeninos</a></li>
            {% endif %}
         </ul>
      </li>
      {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informes <span class="caret"></span></a>
         <ul class="dropdown-menu">
            <li><a href="{{ path('pantalla_resultados') }}">Resultados</a></li>
            <li><a href="{{ path('pantalla_asistencia') }}">Asistencia a eventos</a></li>
            <li><a href="{{ path('pagos_pendientes') }}">Pagos pendientes</a></li>
            <li><a href="{{ path('ingresos') }}">Ingresos</a></li>
         </ul>
      </li>{% endif %}
      {% if (app.user is null) or (app.user is not null and not is_granted('ROLE_ADMIN')) %}<li><a href="{{ path('users_pantalla_resultados') }}">Resultados</a></li>{% endif %}
      {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li><a href="{{ path('configuracion') }}">Configuración</a></li>{% endif %}
{% endblock %}

{% block breadcrumb %}
  {% if app.user is not null and is_granted('ROLE_ADMIN') %}
     <li><a href="{{ path('homepage_admin') }}">Portada Admin</a></li>
  {% else %}
     <li><a href="{{ path('homepage') }}">Portada</a></li>
  {% endif %}
  <li><a href="{{ path('mis_competiciones') }}">Mis competiciones</a></li>
  <li><a href="{{ path('users_ver_competicion', {'id': com.sid}) }}">{{ com.nombre }} ({{ com.temp }}/{{ (com.temp + 1)|slice(2, 2) }})</a></li>
  <li class="active">Inscripción</li>
{% endblock %}

   {% block modallabel %}<div id="dialog-label"></div>{% endblock %}
   {% block modalbody %}<div id="dialog-body"></div>{% endblock %}
   {% block modalprimary %}<span id="dialog-btn"></span>{% endblock %}

{% block container %}
   <h1 id="container_title" class="page-header">Inscripción <small>{{ com.nombre }} ({{ com.temp }}/{{ (com.temp + 1)|slice(2, 2) }})</small></h1>
   <div id="alert-div"></div>
   
   <div class="row">
      <div class="hidden-xs col-sm-4">
         {% if com.cartel is not null %}
         <img src="{{ vich_uploader_asset(com, 'cartelFile') }}" alt="{{ com.nombre }}" class="img-responsive thumbnail"/>
         {% else %}
            {% image '@EasanlesAtletismoBundle/Resources/assets/img/sincartel.jpg' %}
            <img src="{{ asset_url }}" alt="{{ com.nombre }}" class="img-responsive thumbnail"/>
            {% endimage %}
         {% endif %}
      </div>
      <div class="col-xs-12 col-sm-8">
      {% if (atl.lfga is null or atl.lfga == "") and com.esFeder %}
         <div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Esta es una prueba federada y no tienes asignada una licencia de la FGA </div>
      {% else %}
         {% if com.esOficial or com.fecha < ayer %}
            <h4>Categoría {{ cat.nombre }}
         {% else %}
            <h4>Pruebas disponibles para la categoría {{ cat.nombre }}
         {% endif %}
         {% if par|first %}<span class="pull-right"><strong>Tu dorsal: {{ par|first.dorsal }}</strong></span>{% endif %}
         </h4>
            
         <table class="table table-striped table-responsive">
            <tbody>
               {% for pru in prus %}
               <tr{% if pru.activarInscripciones == false and pru.inscrito == false %} class="text-muted"{% endif %}>
                  {% if pru.sexo == 0 %}
                     {% set tpr = pru.nombre ~ ', masculino' %}
                  {% elseif pru.sexo == 1 %}
                     {% set tpr = pru.nombre ~ ', femenino' %}
                  {% elseif pru.sexo == 2 %}
                     {% set tpr = pru.nombre %}
                  {% endif %}
                  {% if entornos|length > 1 %}
                     {% set tpr = tpr ~ '. ' ~ pru.entorno %}
                  {% endif %}
                  <td>{{ tpr }}</td>
                  {% if com.esOficial %}
                     <td>{% if pru.coste is not null %}{{ pru.coste|number_format(2, ',', '.') }}€{% endif %}</td>
                     <td>{{ pru.estado }}</td>
                  {% else %}
                     {% if pru.activarInscripciones %}
                        {% if pru.inscrito %}
                           <td><button id="btn-ins-{{ pru.sid }}" type="button" class="btn btn-sm btn-info btn-block active" onClick="toggleIns(this)">Inscrito</button></td>
                        {% else %}
                           <td><button id="btn-ins-{{ pru.sid }}" type="button" class="btn btn-sm btn-default btn-block" onClick="toggleIns(this)">Inscribirse</button></td>
                        {% endif %}
                     {% else %}
                        <td>{% if pru.inscrito and pru.activarMarcas == false %}<span class="pull-right">Inscrito</span>{% endif %}</td>
                     {% endif %}
                  {% endif %}
                  {% if pru.activarMarcas %}
                     {% if com.esOficial == false %}<td>
                        {% if pru.activarInscripciones == true or pru.inscrito == true %}
                        <a id="btn-int-{{ pru.sid }}" type="button" class="btn btn-sm btn-primary btn-block" href="{{ path("users_marcas", {"sidCom": com.sid, "pru": pru.sid}) }}"{% if pru.inscrito == false %}disabled{% endif %}>Marca</a>
                        {% endif %}
                     </td>{% endif %}
                     <td><a id="btn-int-{{ pru.sid }}" type="button" class="btn btn-sm btn-default btn-block" href="{{ path("users_pantalla_resultados", {"pru": pru.sid}) }}">Resultados</a></td>
                  {% endif %}
               </tr>
               {% endfor %}
            </tbody>
         </table>
      {% endif %}
      </div>
   </div>
   
   
{% endblock %}

{% block js %}
   {% javascripts '@EasanlesAtletismoBundle/Resources/assets/js/user.js' filter='?uglifyjs2' %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}



