
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}
   Registrar marcas
{% endblock %}

{% block css %}
    {{ parent() }}
   <style> .vich-image img {max-width: 200px} </style>
{% endblock %}

{% block onload %}loadRonsTable(){% endblock %}

{% block navbar %}
      {% if app.user is not null and app.user.idAtl is not null %}<li class="active"><a href="{{ path('mis_competiciones') }}">Mis competiciones</a></li>{% endif %}
      {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li><a href="{{ path('listado_atletas') }}">Atletas</a></li>{% endif %}
      {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li><a href="{{ path('listado_competiciones') }}">Competiciones</a></li>{% endif %}
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Records <span class="caret"></span></a>
         <ul class="dropdown-menu">
            {% if app.user is not null and app.user.idAtl is not null %}<li><a href="{{ path('users_pantalla_records_propios') }}">Mis records</a></li>{% endif %}
            {% if app.user is not null and is_granted('ROLE_ADMIN') %}
               <li><a href="{{ path('pantalla_records_masc') }}">Records masculinos</a></li>
               <li><a href="{{ path('pantalla_records_fem') }}">Records femeninos</a></li>
            {% else %}
               <li><a href="{{ path('users_pantalla_records_masc') }}">Records masculinos</a></li>
               <li><a href="{{ path('users_pantalla_records_fem') }}">Records femeninos</a></li>
            {% endif %}
         </ul>
      </li>
      {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informes <span class="caret"></span></a>
         <ul class="dropdown-menu">
            <li><a href="{{ path('pantalla_resultados') }}">Resultados</a></li>
            <li><a href="{{ path('pantalla_asistencia') }}">Asistencia a eventos</a></li>
            <li><a href="{{ path('pagos_pendientes') }}">Pagos pendientes</a></li>
         </ul>
      </li>{% endif %}
      {% if (app.user is null) or (app.user is not null and not is_granted('ROLE_ADMIN')) %}<li><a href="{{ path('users_pantalla_resultados') }}">Resultados</a></li>{% endif %}
      {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li><a href="{{ path('configuracion') }}">Configuración</a></li>{% endif %}
{% endblock %}

{% block breadcrumb %}
  {% if app.user is not null and is_granted('ROLE_ADMIN') %}
     <li><a href="{{ path('homepage_admin') }}">Portada Admin</a></li>
  {% else %}
     <li><a href="{{ path('homepage') }}">Portada</a></li>
  {% endif %}
  <li><a href="{{ path('mis_competiciones') }}">Mis competiciones</a></li>
  <li><a href="{{ path('users_ver_competicion', {'id': com.sid}) }}">{{ com.nombre }} ({{ com.temp }}/{{ (com.temp + 1)|slice(2, 2) }})</a></li>
  <li class="active">Registrar marcas</li>
{% endblock %}

   {% block modallabel %}<div id="dialog-label"></div>{% endblock %}
   {% block modalbody %}<div id="dialog-body"></div>{% endblock %}
   {% block modalprimary %}<span id="dialog-btn"></span>{% endblock %}

{% block container %}
   <h1 id="container_title" class="row page-header">Registrar marcas <small>{{ com.nombre }} ({{ com.temp }}/{{ (com.temp + 1)|slice(2, 2) }})</small></h1>

   <div id="alert-div"></div>
   <div class="hidden updater" onClick="loadRonsTable()"></div>
      
   <div class="row">
      <div class="hidden-xs col-sm-5">
         {% if com.cartel is not null %}
            <img src="{{ vich_uploader_asset(com, 'cartelFile') }}" alt="{{ com.nombre }}" class="img-responsive thumbnail"/>
         {% else %}
            {% image '@EasanlesAtletismoBundle/Resources/assets/img/sincartel.jpg' %}
            <img src="{{ asset_url }}" alt="{{ com.nombre }}" class="img-responsive thumbnail"/>
            {% endimage %}
         {% endif %}
      </div>
      
      {% if com.esOficial %}
         <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Esta es una competición oficial del club. Solo un coordinador puede registrar marcas</div>
      {% elseif prus|length == 0 %}
         <div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> No estás inscrito en ninguna prueba</div>
      {% elseif com.fecha > hoy %}
         <div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Esta competición no ha comenzado aún</div>
      {% else %}
         <div class="col-xs-12 col-sm-7">
            <div class="form-group">
               <label for="select-pru">Pruebas disponibles</label>
               <select id="select-pru" class="form-control" onChange="loadRonsTable()">
                  {% for pru in prus %}
                  <option value="{{ pru.sid }}"{% if selectedPru is defined %}{% if selectedPru == pru.sid %} selected{% endif %}{% endif %}>{{ pru.sidTprm.sidTprf.nombre }}{% if pru.sidTprm.sexo == 0 %}, masculino{% elseif pru.sidTprm.sexo == 1 %}, femenino{% endif %}{% if entornos|length > 1 %}. {{ pru.sidTprm.entorno }}{% endif %}</option>
                  {% endfor %}
               </select>
            </div>
            <div class="col-xs-12">
               <label>Rondas</label>
               <table class="table table-hover table-bordered table-condensed table-striped table-responsive">
                  <tbody id="select-ron">
                  </tbody>
               </table>
            </div>
         </div>
      {% endif %}
   </div>
   
{% endblock %}

{% block js %}
   {% javascripts '@EasanlesAtletismoBundle/Resources/assets/js/user.js' filter='?uglifyjs2' %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}



