
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}Mis competiciones{% endblock %}

{% block navbar %}
      <li class="active"><a href="#">Mis competiciones</a></li>
      {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li><a href="{{ path('listado_atletas') }}">Atletas</a></li>{% endif %}
      {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li><a href="{{ path('listado_competiciones') }}">Competiciones</a></li>{% endif %}
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Records <span class="caret"></span></a>
         <ul class="dropdown-menu">
            {% if app.user.idAtl is not null %}<li><a class="inactive" href="#">Mis records</a></li>{% endif %}
            {% if app.user is not null and is_granted('ROLE_ADMIN') %}
               <li><a href="{{ path('pantalla_records_masc') }}">Records masculinos</a></li>
               <li><a href="{{ path('pantalla_records_fem') }}">Records femeninos</a></li>
            {% else %}
               <li><a href="{{ path('users_pantalla_records_masc') }}">Records masculinos</a></li>
               <li><a href="{{ path('users_pantalla_records_fem') }}">Records femeninos</a></li>
            {% endif %}
         </ul>
      </li>
      {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informes <span class="caret"></span></a>
         <ul class="dropdown-menu">
            <li><a href="{{ path('pantalla_resultados') }}">Resultados</a></li>
            <li><a class="inactive" href="#">Asistencia a eventos</a></li>
            <li><a class="inactive" href="#">Pagos</a></li>
         </ul>
      </li>{% endif %}
      {% if (app.user is null) or (app.user is not null and not is_granted('ROLE_ADMIN')) %}<li><a href="{{ path('users_pantalla_resultados') }}">Resultados</a></li>{% endif %}
      {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li><a href="{{ path('configuracion') }}">Configuración</a></li>{% endif %}
{% endblock %}

{% block breadcrumb %}
  {% if app.user is not null and is_granted('ROLE_ADMIN') %}
     <li><a href="{{ path('homepage_admin') }}">Portada Admin</a></li>
  {% else %}
     <li><a href="{{ path('homepage') }}">Portada</a></li>
  {% endif %}
  <li class="active">Mis competiciones</li>
{% endblock %}

{% block container %}
   <h1 id="container_title" class="row page-header">Mis competiciones</h1>
   <div id="container_header" class="row">
      <div class="col-xs-7 col-sm-6 col-md-5">
         <select class="form-control" onChange="">
            <option value="">Temporada 2015/16</option>
            {#
            {% for row in temporadas %}
            <option value="{{ row.temp }}" {% if temp is defined %}{% if temp == row.temp %}selected{% endif %}{% endif %}>Temporada {{ row.temp }}/{{ (row.temp + 1)|slice(2, 2)}}</option>
            {% endfor %}
            #}
         </select>
      </div>
      <div class="pull-right">
         <div class="btn-group" role="group" aria-label="Mostrar">
            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Cuadrícula</button>
            <button type="button" class="btn btn-info active"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Lista</button>
         </div>
      </div>
   </div>
   <div id="coms-list" class="row">
      {% for com in coms %}
         <div class="row">
            <div class="col-xs-3 col-sm-2 col-lg-offset-1">
               {% if com.cartel is not null %}
               <a href="{{ path('users_ver_competicion', {'id': com.sid})}}"><img src="{{ vich_uploader_asset(com, 'cartelFile', 'Easanles\\AtletismoBundle\\Entity\\Competicion') }}" alt="{{ com.nombre }}" class="img-responsive thumbnail"/></a>
               {% else %}
                  {% image '@EasanlesAtletismoBundle/Resources/assets/img/sincartel.jpg' %}
                  <a href="{{ path('users_ver_competicion', {'id': com.sid})}}"><img src="{{ asset_url }}" alt="{{ com.nombre }}" class="img-responsive thumbnail"/></a>
                  {% endimage %}
               {% endif %}
            </div>
            <div class="col-xs-6 col-sm-7 col-md-7 col-lg-5">
               <h3 class="hidden-xs">{{ com.nombre }}</h3>
               <h4 class="visible-xs">{{ com.nombre }}</h4>
               <p>{% if com.fecha is null %} <em>Sin fecha</em> {% else %} {{ com.fecha|date('d/m/Y') }} {% endif %} - {{ com.sede }}</p>
               {% if com.web is not null %}<p><a href="{{ com.web }}">{{ com.web }}</a></p>{% endif %}
               <p class="visible-md visible-lg">
                  {{ com.desc|nl2br }}
               </p>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
               {% if com.esFeder is same as(true) %}
                  <p class="hidden-xs text-center text-info bg-info"><strong>COMPETICIÓN FEDERADA</strong></p>
               {% elseif com.esOficial is same as(true) %}
                  <p class="hidden-xs text-center text-info bg-info"><strong>COMPETICIÓN OFICIAL DEL CLUB</strong></p>
               {% else %}
                  <p class="hidden-xs text-center"><strong>COMPETICIÓN NO OFICIAL</strong></p>
               {% endif %}
               {% if com.fecha <= hoy %}
                  <p class="text-center">Finalizada</p>
                  <a type="button" class="btn btn-default btn-block" href="#">Ver resultados</a>
               {% elseif com.inscrito == true %}
                  <p class="text-center text-success">Inscrito</p>
                  {% if com.esOficial == false %}
                     {% if com.numpruebas == 1 %}
                     <a type="button" class="btn btn-default btn-block" href="#">Desinscribirse</a>
                     {% else %}
                     <a type="button" class="btn btn-default btn-block" href="#">Modificar inscripción</a>
                     {% endif %}
                  {% else %}
                     <a type="button" class="btn btn-default btn-block" href="#">Ver inscripción</a>
                  {% endif %}
               {% elseif com.esOficial == true %}
                  <p class="text-center text-info">Solicite inscripción al coordinador del club</p>
               {% elseif com.esInscrib %}
                  <p class="text-center text-success">Inscripciones abiertas</p>
                  <a type="button" class="btn btn-primary btn-block" href="#">Inscribirse</a>
               {% else %}
                  <p class="text-center text-muted">Inscripciones cerradas</p>
               {% endif %}
            </div>
         </div>
      {% endfor %}
   </div>
   <div id="coms-grid" class="row">
   </div>

{% endblock %}

{% block js %}
{% endblock %}

