   
   <div class="well">
      <h4 class="text-center">{{ atleta }}</h4>
      <div class="text-center">{{ ronda }}</div>
   </div>
   
   {% if exception is defined %}
   <div class="alert alert-danger alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <strong>Error: </strong><span>{{ exception }}</span></div>
   {% endif %}

   <div id="data_form" class="row">

{{ form_start(form, {'action': path('crear_intento', {'ron': sidRon, 'atl': idAtl})}) }}

    {{ form_errors(form) }}
    <div class="panel-body">
    <table class="table table-condensed">
       <tbody{% if numIntentos > 1 %} id="form-collection" data-prototype='
                <tr class="subform-row">
                   <td class="hidden-xs count-td"></td>
                   <td colspan="2">
                      <div class="input-group">
                         {% if unidades == "segundos" %}
                            {{ form_widget(form.intentos.vars.prototype.marca)|e }}
                         {% else %}
                            {{ form_widget(form.intentos.vars.prototype.marca)|e }}
                               <div class="input-group-addon">
                                  {% if unidades == "metros"%} m.
                                  {% elseif unidades == "puntosdesc" %} ptos.
                                  {% elseif unidades == "puntosasc" %} ptos.
                                  {% endif %}
                               </div>
                      </div>
                      {% endif %}
                      {{ form_errors(form.intentos.vars.prototype.marca) }}
                   </td>
                   <td>{{ form_widget(form.intentos.vars.prototype.validez) }}{{ form_errors(form.intentos.vars.prototype.validez) }}</td>
                   <td>{{ form_widget(form.intentos.vars.prototype.premios) }}{{ form_errors(form.intentos.vars.prototype.premios) }}</td>
                   <td><button type="button" class="btn btn-sm btn-danger" onClick="removeFormRow(this)"><span class="glyphicon glyphicon-remove" aria-label="Eliminar"></span></button></td>
                </tr>
             '{% endif %}>
          <tr>
             <th class="hidden-xs{% if numIntentos == 1 %} hidden{% endif %}"><abbr title="Número de intento"># int.</abbr></th>
             <th colspan="2">Marca</th>
             {% if numIntentos > 1 %}<th>Validez<div class="text-muted" style="font-size: 10px;"><abbr title="Intentos inválidos máximos para fijar marca">I. máx.</abbr>: <span id="max-num-int">{{ numIntentos }}</span></div></th>{% endif %}
             <th>Premios</th>
             {% if numIntentos > 1 %}
             <th><abbr title="Eliminar intento">Elim.</abbr></th>
             {% endif %}
          </tr>
          {% set i = 1 %}
          {% for int in form.intentos %}
             <tr class="subform-row">
                <td class="hidden-xs count-td{% if numIntentos == 1 %} hidden{% endif %}">{{ i }}</td>{% set i = i + 1 %}
                <td colspan="2">
                   {% if unidades == "segundos" %}
                      {{ form_widget(int.marca) }}
                   {% else %}
                      <div{% if form_errors(int.marca) != "" %} class="has-error"{% endif %}>
                         <div class="input-group">
                            {{ form_widget(int.marca) }}
                            <div class="input-group-addon">
                               {% if unidades == "metros"%} m.
                               {% elseif unidades == "puntosdesc" %} ptos.
                               {% elseif unidades == "puntosasc" %} ptos.
                               {% endif %}
                            </div>
                         </div>
                      {% endif %}                
                      {{ form_errors(int.marca) }}
                   </div>
                </td>
                <td{% if numIntentos == 1 %} class="hidden"{% endif %}><div onClick="checkIntentos()">{{ form_widget(int.validez) }}</div>{{ form_errors(int.validez) }}</td>
                <td>{{ form_widget(int.premios) }}{{ form_errors(int.premios) }}</td>
                {% if numIntentos > 1 %}
                <td><button type="button" class="btn btn-sm btn-danger" onClick="removeFormRow(this);checkIntentos()"><span class="glyphicon glyphicon-remove" aria-label="Eliminar"></span></button></td>
                {% endif %}
             </tr>
          {% endfor %}

          </tbody>
    </table>
    </div>
    {% if numIntentos > 1 %}
       <div style="text-align: center"><button id="btn-addInt" type="button" class="btn btn-default" onClick="addFormRow();checkIntentos()"><span class="glyphicon glyphicon-plus" aria-label="Añadir"></span> Añadir intento</button></td>
    {% endif %}
    
    {{ form_rest(form) }}
 
{{ form_end(form) }}
   </div>
