
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}
   Registrar marcas
{% endblock %}

{% block css %}
    {{ parent() }}
   <style> .vich-image img {max-width: 200px} </style>
{% endblock %}

{% block navbar %}
      {% if app.user.idAtl is not null %}<li><a href="{{ path('mis_competiciones') }}">Mis competiciones</a></li>{% endif %}
      <li><a href="{{ path('listado_atletas') }}">Atletas</a></li>
      <li><a href="{{ path('listado_competiciones') }}">Competiciones</a></li>
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Records <span class="caret"></span></a>
         <ul class="dropdown-menu">
            {% if app.user is not null and app.user.idAtl is not null %}<li><a href="{{ path('users_pantalla_records_propios') }}">Mis records</a></li>{% endif %}
            {% if app.user is not null and is_granted('ROLE_ADMIN') %}
               <li><a href="{{ path('pantalla_records_masc') }}">Records masculinos</a></li>
               <li><a href="{{ path('pantalla_records_fem') }}">Records femeninos</a></li>
            {% else %}
               <li><a href="{{ path('users_pantalla_records_masc') }}">Records masculinos</a></li>
               <li><a href="{{ path('users_pantalla_records_fem') }}">Records femeninos</a></li>
            {% endif %}
         </ul>
      </li>
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informes <span class="caret"></span></a>
         <ul class="dropdown-menu">
            <li><a href="{{ path('pantalla_resultados') }}">Resultados</a></li>
            <li><a href="{{ path('pantalla_asistencia') }}">Asistencia a eventos</a></li>
            <li><a href="{{ path('pagos_pendientes') }}">Pagos pendientes</a></li>
         </ul>
      </li>
      <li><a href="{{ path('configuracion') }}">Configuración</a></li>
{% endblock %}

{% block breadcrumb %}
  <li><a href="{{ path('homepage_admin') }}">Portada Admin</a></li>
  <li class="active">Registrar marcas</li>
{% endblock %}

   {% block modallabel %}<div id="dialog-label"></div>{% endblock %}
   {% block modalbody %}<div id="dialog-body"></div>{% endblock %}
   {% block modalprimary %}<span id="dialog-btn"></span>{% endblock %}

{% block container %}
   <h1 id="container_title" class="row page-header">Registrar marcas</h1>

   {% if exception is defined %}
   <div class="alert alert-danger alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <strong>Error: </strong><span>{{ exception }}</span></div>
   {% endif %}
      
   <div class="row">
      <div class="col-xs-12 col-sm-5">
         <div class="form-group">
            <label for="select-com">Competiciones temporada {{ currentTemp }}/{{ (currentTemp + 1)|slice(2, 2) }}</label>
            <select id="select-com" class="form-control" onChange="loadPru(this.value)">
               <option value=""></option>
               {% for com in coms %}
                  <option value="{{ com.sid }}"{% if selCom is defined %}{% if selCom == com.sid%} selected{% endif %}{% endif %}>{{ com.nombre }}</option>
               {% endfor %}
            </select>
         </div>
      </div>
      <div class="col-xs-8 col-sm-5">
         <div class="form-group">
            <label for="select-pru">Pruebas</label>
            <select id="select-pru" class="form-control" onChange="showCats(this.value)" disabled>
               <option value=""></option>
            </select>
         </div>
      </div>
      <div class="col-xs-4 col-sm-2">
         <div class="form-group">
            <label for="select-cat">Categorías</label>
            <select id="select-cat" class="form-control" onChange="loadAtls(this.value)" disabled>
               <option value=""></option>
            </select>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-12 col-sm-5">
         <label>Atletas inscritos</label>
         <table class="table table-hover table-bordered table-condensed table-striped table-responsive">
            <tbody id="select-atl">
               <tr>
                  <th>Nombre</th><th>Selec.</th>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="col-xs-12 col-sm-7">
         <label>Rondas</label>
         <table class="table table-hover table-bordered table-condensed table-striped table-responsive">
            <tbody id="select-ron">
            </tbody>
         </table>
      </div>
   </div>
   
{% endblock %}

{% block js %}
   <script src="{{ asset('bundles/atletismo/js/marcas.js') }}"></script>
   {% if selPru is defined %}<script type="text/javascript">
      var autoSelectPru = {{ selPru }}
      {% if selAtl is defined %}
         var autoSelectAtl = {{ selAtl }}
      {% endif %}
   </script>{% endif %}
   
   <script src="{{ asset('bundles/atletismo/js/modals.js') }}"></script>
   <script src="{{ asset('bundles/atletismo/js/scripts.js') }}"></script>

{% endblock %}



