
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}
   Pagos pendientes
{% endblock %}

{% block navbar %}
      {% if app.user.idAtl is not null %}<li><a href="{{ path('mis_competiciones') }}">Mis competiciones</a></li>{% endif %}
      <li class="active"><a href="{{ path('listado_atletas') }}">Atletas</a></li>
      <li><a href="{{ path('listado_competiciones') }}">Competiciones</a></li>
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Records <span class="caret"></span></a>
         <ul class="dropdown-menu">
            {% if app.user.idAtl is not null %}<li><a href="{{ path('users_pantalla_records_propios') }}">Mis records</a></li>{% endif %}
            <li><a href="{{ path('pantalla_records_masc') }}">Records masculinos</a></li>
            <li><a href="{{ path('pantalla_records_fem') }}">Records femeninos</a></li>
         </ul>
      </li>
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informes <span class="caret"></span></a>
         <ul class="dropdown-menu">
            <li><a href="{{ path('pantalla_resultados') }}">Resultados</a></li>
            <li><a href="{{ path('pantalla_asistencia') }}">Asistencia a eventos</a></li>
            <li><a href="{{ path('pantalla_cuotas') }}">Cuotas</a></li>
            <li><a href="{{ path('pagos_pendientes') }}">Pagos pendientes</a></li>
            <li><a href="{{ path('ingresos') }}">Ingresos</a></li>
         </ul>
      </li>
      <li><a href="{{ path('configuracion') }}">Configuración</a></li>
{% endblock %}

{% block breadcrumb %}
  <li><a href="{{ path('homepage_admin') }}">Portada Admin</a></li>
  <li>Informes</li>
  <li class="active">Pagos pendientes</li>
{% endblock %}

{% block container %}
   <h1 id="container_title" class="row page-header">Pagos pendientes</h1>
   
   <div id="container_header" class="row">
      <div class="col-xs-12">
         <h4>{% if count == 1 %}1 pago pendiente{% else %}{{ count }} pagos pendientes{% endif %} - Total: {{ costeTotal|number_format(2, ',', '.') }}€
         <button type="button" class="paybtn btn btn-primary btn-lg hidden-xs pull-right" onClick="sendPaidIns()" disabled> Marcar como pagado</button></h4>
         <button type="button" class="paybtn btn btn-primary btn-lg visible-xs col-xs-8 col-xs-offset-2" onClick="sendPaidIns()" disabled> Marcar como pagado</button>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-12">
         {% for com in coms %}
            <h4>
               {% if com.cartel is not null %}
                  <span><img id="pic-img" height="30" src="{{ vich_uploader_asset(com, 'cartelFile', 'Easanles\\AtletismoBundle\\Entity\\Competicion') }}" alt="{{ com.nombre }}" /></span>
               {% endif %}
               {% if com.esCuota %}<span class="label label-default">Cuota</span>{% endif %} {{ com.nombre }} ({{ com.temp }}/{{ (com.temp + 1)|slice(2, 2) }}) - Total: {{ com.costeCom|number_format(2, ',', '.') }}€
               
            </h4>
            <table class="table table-hover table-bordered table-condensed table-striped table-responsive">
               <tbody>
                  <tr>
                     <th>Atleta</th>
                     <th>Pruebas</th>
                     <th>Precio</th>
                     <th><abbr title="Selección" class="visible-xs">Sel.</abbr><div class="hidden-xs">Selección</div></th>
                  </tr>
                  {% for atl in com.atls %}
                     <tr>
                        <td>{{ atl.apellidos }}, {{ atl.nombre }}</td>
                        <td>{{ atl.inss|length }} <button type="button" class="btn btn-xs btn-default pull-right" data-toggle="tooltip" data-placement="top" title="Mostrar" onClick="toggleDropListTable('{{ com.sid }}_{{ atl.id }}', $(this))"><span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span></button></td>
                        <td>{{ atl.costeAtl|number_format(2, ',', '.') }}€</td>
                        <td><input id="cball-{{ com.sid }}_{{ atl.id }}" type="checkbox" onClick="checkboxGroup(this); selectIns()"></td>
                     </tr>
                     <tr><td colspan="4" style="padding: 0px">
                        <div id="droplist-{{ com.sid }}_{{ atl.id }}" class="droplist">
                           <table class="table table-condensed">
                              <tbody>
                                 {% for ins in atl.inss %}
                                    <tr>
                                       <td class="td-padding"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> {% if com.esCuota %}Cuota{% else %}{{ ins.prueba }}{% endif %}</td>
                                       <td><span class="hidden-xs">Fecha inscripción: </span>{{ ins.fecha|date('d/m/Y') }}</td>
                                       <td>{{ ins.coste|number_format(2, ',', '.') }}€</td>
                                       <td><input id="cb-{{ ins.sid }}" type="checkbox" class="group-{{ com.sid }}_{{ atl.id }}" onClick="checkboxGroup(this); selectIns()"></td>
                                    </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                     </td></tr>
                  {% endfor %}
               </tbody>
            </table>
         {% endfor %}
      </div>
   </div>

{% endblock %}

{% block js %}
   <script type="javascript">
      $(document).ready(function(){
         $('.droplist').each(function (){
            $(this).data("height", $(this).height());
        	   $(this).css("height", "0px");
         });
      )}
   </script>
   {% javascripts '@EasanlesAtletismoBundle/Resources/assets/js/scripts.js' %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}



