
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}
   Records {% if sexo == 0 %}masculinos{% elseif sexo == 1 %}femeninos{% endif %}
{% endblock %}

{% block onload %}selectEntorno($('#sel-entorno').val()){% endblock %}

{% block navbar %}
      {% if app.user is not null and is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}<li><a class="inactive" href="#">Mis competiciones</a></li>{% endif %}
      {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li><a href="{{ path('listado_atletas') }}">Atletas</a></li>{% endif %}
      {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li><a href="{{ path('listado_competiciones') }}">Competiciones</a></li>{% endif %}
      <li class="dropdown active">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Records <span class="caret"></span></a>
         <ul class="dropdown-menu">
            {% if app.user is not null and app.user.idAtl is not null %}<li><a class="inactive" href="#">Mis records</a></li>{% endif %}
            <li><a href="{{ path('pantalla_records_masc') }}">Records masculinos</a></li>
            <li><a href="{{ path('pantalla_records_fem') }}">Records femeninos</a></li>
         </ul>
      </li>
      {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informes <span class="caret"></span></a>
         <ul class="dropdown-menu">
            <li><a href="{{ path('pantalla_resultados') }}">Resultados</a></li>
            <li><a class="inactive" href="#">Asistencia a eventos</a></li>
            <li><a class="inactive" href="#">Pagos</a></li>
         </ul>
      </li>{% endif %}
      {% if (app.user is null) or (app.user is not null and not is_granted('ROLE_ADMIN')) %}<li><a href="{{ path('users_pantalla_resultados') }}">Resultados</a></li>{% endif %}
      {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li><a href="{{ path('configuracion') }}">Configuración</a></li>{% endif %}
{% endblock %}

{% block breadcrumb %}
  {% if app.user is not null and is_granted('ROLE_ADMIN') %}
     <li><a href="{{ path('homepage_admin') }}">Portada Admin</a></li>
  {% else %}
     <li><a href="{{ path('homepage') }}">Portada</a></li>
  {% endif %}
  {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li>Records</li>{% endif %}
  <li class="active">Records {% if sexo == 0 %}masculinos{% elseif sexo == 1 %}femeninos{% endif %}</li>
{% endblock %}

   {% block modallabel %}<div id="dialog-label"></div>{% endblock %}
   {% block modalbody %}<div id="dialog-body"></div>{% endblock %}
   {% block modalprimary %}<span id="dialog-btn"></span>{% endblock %}

{% block container %}
   <h1 id="container_title" class="row page-header">Records {% if sexo == 0 %}masculinos{% elseif sexo == 1 %}femeninos{% endif %}</h1>

   {% if exception is defined %}
   <div class="alert alert-danger alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <strong>Error: </strong><span>{{ exception }}</span></div>
   {% endif %}
   
   <div class="form-horizontal">
      <div class="form-group">
         <label for="sel-entorno" class="col-sm-2 col-sm-offset-2 control-label">Entorno</label>
         <div class="col-sm-6">
            <select class="form-control" id="sel-entorno" onChange="selectEntorno(this.value)">
            {% set count = 0 %}
            {% for entorno in entornos %}
               {% set count = count + 1 %}
               <option value="{{ count }}">{{ entorno.entorno }}</option>
            {% endfor %}
            </select>
         </div>
      </div>
  </div>
  {% set count = 0 %}
  {% for entorno in tablas %}
  {% set count = count + 1 %}
  <table id="tabla-entorno-{{ count }}" class="table table-hover table-bordered table-condensed table-striped table-responsive hidden">
     <tbody>
        <tr>
           <th>Prueba</th>
           <th><abbr class="visible-xs" title="Premios">P.</abbr><div class="hidden-xs">Premios</div></th>
           <th>Marca</th>
           <th>Atleta</th>
           <th><abbr class="visible-xs" title="Categoría">Cat.</abbr><div class="hidden-xs">Categoría</div></th>
           <th>Fecha</th>
           <th class="hidden-xs">Localidad</th>
        </tr>
        {% for row in entorno.tabla %}
        <tr>
           <td>{{ row.prueba }}</td>
           <td>{{ row.premios }}</td>
           <td><strong>
           {% if row.unidades == "segundos" %}
              {{ (row.marca / 3600)|round(0, "floor") }}{% set resto = row.marca - ((row.marca / 3600)|round(0, "floor") * 3600) %}:{{ "%02d"|format((resto / 60)|round(0, "floor")) }}{% set resto = resto - ((resto / 60)|round(0, "floor") * 60) %}:{{ "%06.3f"|format(resto) }}
           {% elseif row.unidades == "metros" %}{{ row.marca|number_format(3, ',', '.') }} m.
           {% elseif row.unidades == "puntosdesc" %}{{ row.marca|number_format(0, ',', '.') }} ptos.
           {% elseif row.unidades == "puntosasc" %}{{ row.marca|number_format(0, ',', '.') }} ptos.
           {% endif %}
           </strong></td>
           <td>{{ row.atleta }}</td>
           <td>{{ row.categoria }}</td>
           <td>{% if row.fecha is null %} <em class="text-muted">Sin fecha</em> {% elseif row.fecha != "" %} {{ row.fecha|date('d/m/Y') }} {% endif %}</td>
           <td class="hidden-xs">{{ row.ubicacion }}</td>
        </tr>
        {% endfor %}
        </tbody>
  </table>
  {% endfor %}

   
{% endblock %}

{% block js %}
   <script src="{{ asset('bundles/atletismo/js/modals.js') }}"></script>
   <script src="{{ asset('bundles/atletismo/js/scripts.js') }}"></script>
{% endblock %}



