
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}
   Resultados
{% endblock %}

{% block css %}
    {{ parent() }}
   <style> .vich-image img {max-width: 200px} </style>
{% endblock %}

{% block navbar %}
      {% if app.user is not null and app.user.idAtl is not null %}<li><a href="{{ path('mis_competiciones') }}">Mis competiciones</a></li>{% endif %}
      {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li><a href="{{ path('listado_atletas') }}">Atletas</a></li>{% endif %}
      {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li><a href="{{ path('listado_competiciones') }}">Competiciones</a></li>{% endif %}
      <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Records <span class="caret"></span></a>
         <ul class="dropdown-menu">
            {% if app.user is not null and app.user.idAtl is not null %}<li><a href="{{ path('users_pantalla_records_propios') }}">Mis records</a></li>{% endif %}
            <li><a href="{% if app.user is not null and is_granted('ROLE_ADMIN') %}{{ path('pantalla_records_masc') }}{% else %}{{ path('users_pantalla_records_masc') }}{% endif %}">Records masculinos</a></li>
            <li><a href="{% if app.user is not null and is_granted('ROLE_ADMIN') %}{{ path('pantalla_records_fem') }}{% else %}{{ path('users_pantalla_records_fem') }}{% endif %}">Records femeninos</a></li>
         </ul>
      </li>
      {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li class="dropdown active">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informes <span class="caret"></span></a>
         <ul class="dropdown-menu">
            <li><a class="active" href="{{ path('pantalla_resultados') }}">Resultados</a></li>
            <li><a href="{{ path('pantalla_asistencia') }}">Asistencia a eventos</a></li>
            <li><a href="{{ path('pagos_pendientes') }}">Pagos pendientes</a></li>
            <li><a href="{{ path('ingresos') }}">Ingresos</a></li>
         </ul>
      </li>{% endif %}
      {% if (app.user is null) or (app.user is not null and not is_granted('ROLE_ADMIN')) %}<li class="active"><a href="{{ path('users_pantalla_resultados') }}">Resultados</a></li>{% endif %}
      {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li><a href="{{ path('configuracion') }}">Configuración</a></li>{% endif %}
{% endblock %}

{% block breadcrumb %}
  {% if app.user is not null and is_granted('ROLE_ADMIN') %}
     <li><a href="{{ path('homepage_admin') }}">Portada Admin</a></li>
  {% else %}
     <li><a href="{{ path('homepage') }}">Portada</a></li>
  {% endif %}
  {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li>Informes</li>{% endif %}
  <li class="active">Resultados</li>
{% endblock %}

   {% block modallabel %}<div id="dialog-label"></div>{% endblock %}
   {% block modalbody %}<div id="dialog-body"></div>{% endblock %}
   {% block modalprimary %}<span id="dialog-btn"></span>{% endblock %}

{% block container %}
   <h1 id="container_title" class="row page-header">Resultados</h1>

   {% if exception is defined %}
   <div class="alert alert-danger alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <strong>Error: </strong><span class="glyphicon glyphicon-exclamation-sign"></span> {{ exception }}</div>
   {% endif %}
   
   <div class="row">
      <div class="col-xs-12 col-sm-4">
         <div class="form-group">
            <select id="select-temp" class="form-control" onChange="showComs()">
               {% for row in temps %}
               <option value="{{ row.temp }}" {% if selTemp is defined %}{% if selTemp == row.temp %}selected{% endif %}{% endif %}>Temporada {{ row.temp }}/{{ (row.temp + 1)|slice(2, 2)}}</option>
               {% endfor %}
            </select>
         </div>
         <div class="form-group">
            <label for="select-com">Competición</label>
            <select id="select-com" class="form-control" onChange="loadComData(); loadCartel()">
            </select>
         </div>
      </div>
      <div class="col-xs-12 col-sm-8">
         <div class="row">
            <div class="form-group col-xs-8">
               <label for="select-pru">Prueba</label>
               <select id="select-pru" class="form-control" onChange="showCats(this.value)" disabled>
               </select>
            </div>
            <div class="form-group col-xs-4">
               <label for="select-cat">Categoría</label>
               <select id="select-cat" class="form-control" onChange="loadRons()" disabled>
               </select>
            </div>
         </div>
         <div class="row">
            <div class="form-group">
               <label for="select-ron" class="control-label col-xs-2 col-sm-offset-2 text-right">Ronda</label>
               <div class="col-xs-10 col-sm-6">
                  <select id="select-ron" class="form-control" onChange="getTable(this.value)" disabled>
                  </select>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-12 col-sm-4">
         <div class="hidden-xs">
            <div id="pic-div"{% if selCom is defined %}{% if selCom.cartel is null %} style="display:none"{% endif %}{% endif %}>
            {% if selCom is defined %}
            <a id="pic-link" href="{{ vich_uploader_asset(selCom, 'cartelFile') }}"><img id="pic-img" src="{{ vich_uploader_asset(selCom, 'cartelFile') }}" alt="{{ selCom.nombre }}" class="img-responsive thumbnail"/></a>
            {% else %}
            <a id="pic-link" href="#"><img id="pic-img" src="" alt="" class="img-responsive thumbnail"/></a>
            {% endif %}
            </div>
            <div id="no-pic-div"{% if selCom is defined %}{% if selCom.cartel is not null %} style="display:none"{% endif %}{% endif %}>
               {% image '@EasanlesAtletismoBundle/Resources/assets/img/sincartel.jpg' %}
               <img src="{{ asset_url }}" alt="Sin cartel" class="img-responsive thumbnail"/>
               {% endimage %}
            </div>
         </div>
      </div>
      <div class="col-xs-12 col-sm-8">
         <table class="table table-hover table-bordered table-condensed table-striped table-responsive">
            <tbody id="data-table">
            </tbody>
         </table>
      </div>
   </div>
{% endblock %}

{% block js %}
   <script type="text/javascript">
      var comData = [];
      {% for temp in coms %}
         coms = [];
         {% for com in temp.coms %}
            com = [];
            com['sidCom'] = {{ com.sid }};
            com['nombre'] = "{{ com.nombre }}";
            coms.push(com);
         {% endfor %}
         comData['{{ temp.temp }}'] = coms;
      {% endfor %}
      {% if selCom is defined %}
         var autoSelectCom = {{ selCom.sid }};
      {% endif %}
      {% if selPru is defined %}
         var autoSelectPru = {{ selPru.sid }};
      {% endif %}
      {% if selRon is defined %}
         var autoSelectRon = {{ selRon.sid }};
      {% endif %}
   </script>
   {% javascripts '@EasanlesAtletismoBundle/Resources/assets/js/resultados.js' filter='?uglifyjs2' %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
   {% if rol == "admin" %}
      {% javascripts '@EasanlesAtletismoBundle/Resources/assets/js/modals.js' filter='?uglifyjs2' %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
   {% else %}
      {% javascripts '@EasanlesAtletismoBundle/Resources/assets/js/user.js' filter='?uglifyjs2' %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
   {% endif %}
{% endblock %}



