
{% extends 'EasanlesAtletismoBundle:Default:index.html.twig' %}

{% block title %}
   {% if tipo == 0 %}Records masculinos
   {% elseif tipo == 1 %}Records femeninos
   {% elseif tipo == 2 %}Mis records
   {% endif %}
{% endblock %}

{% block onload %}selectEntorno($('#sel-entorno').val()){% endblock %}

{% block navbar %}
      {% if app.user is not null and app.user.idAtl is not null %}<li><a href="{{ path('mis_competiciones') }}">Mis competiciones</a></li>{% endif %}
      {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li><a href="{{ path('listado_atletas') }}">Atletas</a></li>{% endif %}
      {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li><a href="{{ path('listado_competiciones') }}">Competiciones</a></li>{% endif %}
      <li class="dropdown active">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Records <span class="caret"></span></a>
         <ul class="dropdown-menu">
            {% if app.user is not null and app.user.idAtl is not null %}<li><a href="{{ path('users_pantalla_records_propios') }}">Mis records</a></li>{% endif %}
            {% if app.user is not null and is_granted('ROLE_ADMIN') %}
               <li><a href="{{ path('pantalla_records_masc') }}">Records masculinos</a></li>
               <li><a href="{{ path('pantalla_records_fem') }}">Records femeninos</a></li>
            {% else %}
               <li><a href="{{ path('users_pantalla_records_masc') }}">Records masculinos</a></li>
               <li><a href="{{ path('users_pantalla_records_fem') }}">Records femeninos</a></li>
            {% endif %}
         </ul>
      </li>
      {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informes <span class="caret"></span></a>
         <ul class="dropdown-menu">
            <li><a href="{{ path('pantalla_resultados') }}">Resultados</a></li>
            <li><a href="{{ path('pantalla_asistencia') }}">Asistencia a eventos</a></li>
            <li><a href="{{ path('pagos_pendientes') }}">Pagos pendientes</a></li>
            <li><a href="{{ path('ingresos') }}">Ingresos</a></li>
         </ul>
      </li>{% endif %}
      {% if (app.user is null) or (app.user is not null and not is_granted('ROLE_ADMIN')) %}<li><a href="{{ path('users_pantalla_resultados') }}">Resultados</a></li>{% endif %}
      {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li><a href="{{ path('configuracion') }}">Configuración</a></li>{% endif %}
{% endblock %}

{% block breadcrumb %}
  {% if app.user is not null and is_granted('ROLE_ADMIN') %}
     <li><a href="{{ path('homepage_admin') }}">Portada Admin</a></li>
  {% else %}
     <li><a href="{{ path('homepage') }}">Portada</a></li>
  {% endif %}
  {% if app.user is not null and is_granted('ROLE_ADMIN') %}<li>Records</li>{% endif %}
  <li class="active">
     {% if tipo == 0 %}Records masculinos
     {% elseif tipo == 1 %}Records femeninos
     {% elseif tipo == 2 %}Mis records
     {% endif %}
  </li>
{% endblock %}

   {% block modallabel %}<div id="dialog-label"></div>{% endblock %}
   {% block modalbody %}<div id="dialog-body"></div>{% endblock %}
   {% block modalprimary %}<span id="dialog-btn"></span>{% endblock %}

{% block container %}
   <h1 id="container_title" class="row page-header">
      {% if tipo == 0 %}Records masculinos
      {% elseif tipo == 1 %}Records femeninos
      {% elseif tipo == 2 %}Mis records <small> - {{ atl.apellidos }}, {{ atl.nombre }}</small>
      {% endif %}
   </h1>

   {% if exception is defined %}
   <div class="alert alert-danger alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <span class="glyphicon glyphicon-exclamation-sign"></span> {{ exception }}</div>
   {% endif %}
   
   {% if rol == "admin" %}
      <p class="text-info"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Incluyendo records de competiciones ocultas <a href="{% if tipo == 0 %}{{ path('users_pantalla_records_masc') }}{% elseif tipo == 1 %}{{ path('users_pantalla_records_fem') }}{% endif %}">[Ir a vista de usuarios]</a></p>
   {% endif %}
   <div class="row">
      <div class="form-group col-sm-5 col-sm-offset-1">
         <label for="sel-temp" class="control-label">Temporada</label>
         <div>
            <select class="form-control" id="sel-temp" onChange="goToUrl('?t='+this.value)">
            <option value="" {% if selTemp is not defined %}selected{% endif %}>Todas las temporadas</option>
            {% for temp in temps %}
               <option value="{{ temp.temp }}"{% if selTemp is defined and selTemp == temp.temp %} selected{% endif %}>Temporada {{ temp.temp }}/{{ (temp.temp + 1)|slice(2, 2)}}</option>
            {% endfor %}
            </select>
         </div>
      </div>
      <div class="form-group col-sm-5">
         <label for="sel-entorno" class="control-label">Entorno</label>
         <div>
            <select class="form-control" id="sel-entorno" onChange="selectEntorno(this.value)">
            {% set count = 0 %}
            {% for entorno in entornos %}
               {% set count = count + 1 %}
               <option value="{{ count }}">{{ entorno.entorno }}</option>
            {% endfor %}
            </select>
         </div>
      </div>
  </div>
  {% set count = 0 %}
  {% for entorno in tablas %}
  {% set count = count + 1 %}
  <table id="tabla-entorno-{{ count }}" class="table table-hover table-bordered table-condensed table-striped table-responsive hidden">
     <tbody>
        <tr>
           <th>Prueba</th>
           <th><abbr class="visible-xs" title="Notas">P.</abbr><div class="hidden-xs">Notas</div></th>
           <th>Marca</th>
           {% if tipo != 2 %}<th>Atleta</th>{% endif %}
           <th><abbr class="visible-xs" title="Categoría">Cat.</abbr><div class="hidden-xs">Categoría</div></th>
           <th>Fecha</th>
           <th class="hidden-xs">Sede</th>
        </tr>
        {% for row in entorno.tabla %}
        <tr{% if destacarAtl is defined %}{% if destacarAtl.id == row.idAtl %} class="text-success"{% endif %}{% endif %}>
           <td>{{ row.prueba }}</td>
           <td>{{ row.premios }}</td>
           <td><strong>
           {% if row.unidades == "segundos" %}
              {{ (row.marca / 3600)|round(0, "floor") }}{% set resto = row.marca - ((row.marca / 3600)|round(0, "floor") * 3600) %}:{{ "%02d"|format((resto / 60)|round(0, "floor")) }}{% set resto = resto - ((resto / 60)|round(0, "floor") * 60) %}:{{ "%06.3f"|format(resto) }}
           {% elseif row.unidades == "metros" %}{{ row.marca|number_format(3, ',', '.') }} m.
           {% elseif row.unidades == "puntosdesc" %}{{ row.marca|number_format(0, ',', '.') }} ptos.
           {% elseif row.unidades == "puntosasc" %}{{ row.marca|number_format(0, ',', '.') }} ptos.
           {% endif %}
           </strong></td>
           {% if tipo != 2 %}<td>{% if destacarAtl is defined and destacarAtl.id == row.idAtl %}<strong>{{ row.atleta }}</strong>{% else %}{{ row.atleta }}{% endif %}</td>{% endif %}
           <td>{{ row.categoria }}</td>
           <td>{% if row.fecha is null %} <em class="text-muted">Sin fecha</em> {% elseif row.fecha != "" %} {{ row.fecha|date('d/m/Y') }} {% endif %}</td>
           <td class="hidden-xs">{{ row.sede }}</td>
        </tr>
        {% endfor %}
        </tbody>
  </table>
  {% endfor %}

   
{% endblock %}

{% block js %}
   {% javascripts
      '@EasanlesAtletismoBundle/Resources/assets/js/modals.js' 
      '@EasanlesAtletismoBundle/Resources/assets/js/scripts.js' filter='?uglifyjs2' %}
      <script src="{{ asset_url }}"></script>
   {% endjavascripts %}
{% endblock %}



